{{- $ratio := .ratio | default 1 -}}
{{- $column := int .ui.column | default 3 -}}
{{- $id := printf "gallery-%s" (.index | string) -}}
{{- $isFirst := .first -}}
{{- $layout := .ui.layout | default "grid" -}}

{{- $context := merge . (dict
  "images" .gallery
  "ratio" $ratio
  "column" $column
  "gallery" $id
  "isFirst" $isFirst
)}}

{{- with .gallery }}
  {{- if eq $layout "carousel" }}
    {{ partial "blocks/templates/gallery/carousel.html" $context }}
  {{- else }}
    {{ partial "blocks/templates/gallery/grid.html" $context }}
  {{- end }}
{{ end -}}
