{{- $id := printf "gallery-%s" (.index | string) -}}
{{- $isFirst := .first -}}

{{- $column := int .ui.column | default 3 -}}
{{- $layout := .ui.layout | default "grid" -}}
{{- $defaultRatio := site.Params.blocks.gallery.image.ratio | default 1 -}}
{{- $ratio := cond .ui.ratio .ui.ratio $defaultRatio -}}

{{- $context := merge . (dict
  "images" .gallery
  "ratio" $ratio
  "column" $column
  "gallery" $id
  "isFirst" $isFirst
)}}

{{- with .gallery }}
  {{- if eq $layout "carousel" }}
    {{ partial "blocks/templates/gallery/carousel.html" $context }}
  {{- else }}
    {{ partial "blocks/templates/gallery/grid.html" $context }}
  {{- end }}
{{ end -}}
