{{ $index := .index}}
{{ $lazy := partial "func/isLazyImage" (dict "first" .first) }}

<section class="block-editorial block-editorial-{{ .direction }}{{ with .background }} block-bg{{ end }}"{{ partial "func/SetAnim" (dict "element" "block") }}>
  <div class="container">
    <div class="row">

      <div class="content">
        {{ partial "blocks/content-with-notes.html" (dict 
          "context" .
          "blockId" $index 
        ) }}

        {{- with .ctas }}
          {{ partial "commons/cta-group.html" (dict "ctas" .) }}
        {{- else -}}
          {{/*  Deprecated  */}}
          {{ partial "commons/cta-group.html" (dict "cta" .cta) }}
        {{ end -}}
      </div>

      {{ with .image}}
        {{- $desktop := site.Params.blocks.editorial.desktop | default false -}}
        {{- $mobile := site.Params.blocks.editorial.mobile | default false -}}
        <div class="media">
          {{ partial "commons/image.html" (dict
              "src" .src
              "alt" .alt
              "desktop" $desktop
              "mobile" $mobile
              "lazy" $lazy 
            ) }}
        </div>
      {{ end }}

    </div>
  </div>
</section>