{{ $lazy := partial "func/isLazyImage" (dict "first" .first) }}

<section class="block-editorial block-editorial-{{ .direction }}{{ with .background }} block-bg{{ end }}"{{ partial "func/SetAnim" (dict "element" "block") }}>
  <div class="container">
    <div class="row">

      <div class="content">
        {{ with .surtitle }}
          <p class="surtitle">{{ partial "func/PrepareHTML" . }}</h1>
        {{ end }}
        {{ with .title }}
          <h2>{{ partial "func/PrepareHTML" . }}</h2>
        {{ end }}
        {{ with .text }}
          <div class="text">
            {{ if in (string .) "\n" }}
              {{ partial "func/PrepareHTML" . | markdownify }}
            {{ else }}
              <p>{{ partial "func/PrepareHTML" . | markdownify }}</p>
            {{ end }}
          </div>
        {{ end }}
        {{ with .cta}}
          {{ if and (isset . "url") (ne .url "") (isset . "text") (ne .text "") }}
            {{ $title := i18n "link.blank_aria" (dict "Title" (partial "func/PrepareHTML" .text))}}
            <a href="{{ .url }}" class="btn"{{ if .blank }} target="_blank" title="{{ $title }}"{{ end }}>{{ partial "func/PrepareHTML" .text }}</a>
          {{ end }}
        {{ end }}
      </div>

      {{ with .image}}
        {{ $desktop := site.Params.blocks.editorial.desktop | default false }}
        {{ $mobile := site.Params.blocks.editorial.mobile | default false }}
        <div class="media">
          {{ partial "commons/image.html" (dict
              "src" .src
              "alt" .alt
              "desktop" $desktop
              "mobile" $mobile
              "lazy" $lazy 
              "class" "img-fluid"
            ) }}
        </div>
      {{ end }}

    </div>
  </div>
</section>