<section class="block-embed{{ with .background }} block-bg{{ end }}">
  <div class="container">

    {{ partial "blocks/heading.html" . }}

    {{ $title := .title | default "" }}
    {{ with .embed }}
      {{ $embed := . }}
      {{ if not (in . "loading=") }}
        {{ $embed = replace . "<iframe " "<iframe loading='lazy'" }}
      {{ end }}
      {{ if not (in . "title=") }}
        {{ $replace := printf "<iframe title='%s'" $title }}
        {{ $embed = replace . "<iframe " $replace }}
      {{ end }}

      <div class="embed">
        {{ $embed | safeHTML }}
      </div>
    {{ end }}

  </div>
</section>