{{/* UI */}}
{{- $ui := partial "func/GetBlockUI" . -}}

{{/* Class */}}
{{- $blockClass := partial "func/GetBlockClasses" (dict "name" .block "ui" $ui) -}}

{{/* Block */}}
{{- if .embed -}}
<section class="{{- $blockClass }}" {{- partial "func/SetAnim.html" (dict "element" "block") }}>
{{- partial "func/SetContainerRowColStart.html" (dict "grid" $ui.grid "class" $ui.rowClass) -}}
  {{ partial "blocks/templates/embed/header.html" . }}
  {{ partial "blocks/templates/embed/body.html" . }}
  {{ partial "blocks/templates/embed/footer.html" . }}
{{- partial "func/SetContainerRowColEnd.html" (dict "grid" $ui.grid "class" $ui.rowClass) -}}
</section>
{{- end -}}
