<section class="block-faq{{ with .background }} block-bg{{ end }}"{{ partial "func/SetAnim" (dict "element" "block") }}>
  <div class="container">
    
    {{ partial "blocks/heading.html" . }}

    {{ range .items }}
      <details>
        {{ with .title }}
          <summary>{{ partial "func/PrepareHTML" . }}</summary>
        {{ end }}
        {{ with .text }}
          <div>
            {{ (partial "func/PrepareHTML" .) | markdownify }}
          </div>
        {{ end }}
      </details>
    {{ end }}

  </div>
</section>