{{- $class := partial "func/GetColOffsetClass" (dict "grid" .grid "offset" .offset) -}}

<section class="block-form{{ with .background }} block-bg{{ end }}" {{- partial "func/SetAnim" (dict "element" "block") }}>
  <div class="container">

    {{- if $class }}
    <div class="row">
      <div class="{{ $class }}">
    {{ end -}}
    
      {{- partial "blocks/heading.html" . -}}

      {{- partial "commons/form.html" . -}}

    {{- if $class }}
      </div>
    </div>
    {{ end -}}

  </div>
</section>