{{/* UI */}}
{{- $ui := partial "func/GetBlockUI" (merge (dict "type" "form") .) -}}

{{/* Class */}}
{{- $blockClass := partial "func/GetBlockClasses" (dict "type" "form" "ui" $ui) -}}

{{/* Context */}}
{{- $context := merge . (dict "ui" $ui) -}}

{{/* Block */}}
{{- if .items -}}
<section class="{{- $blockClass }}" {{- partial "func/SetAnim.html" (dict "element" "block") }}>
{{- partial "func/SetContainerRowColStart.html" (dict "grid" $ui.grid "class" $ui.rowClass) -}}
  {{ partial "blocks/templates/form/header.html" . }}
  {{ partial "blocks/templates/form/body.html" $context }}
  {{ partial "blocks/templates/form/footer.html" . }}
{{- partial "func/SetContainerRowColEnd.html" (dict "grid" $ui.grid "class" $ui.rowClass) -}}
</section>
{{- end -}}
