{{ $index := .index}}
<section class="block-gallery{{ with .background }} block-bg{{ end }}">
  <div class="container">
    
    {{ partial "blocks/heading.html" . }}

    {{ $ratio := .ratio | default 1 }}
    {{ $column := .column | default 3 }}
    {{ with .gallery }}
    <div class="gallery gallery-{{ $column }}">

      {{ $desktop := site.Params.container.desktop | default false }}
      {{ $mobile := site.Params.container.mobile | default false }}
      {{ if $desktop }}
        {{ $width := string $desktop }}
        {{ $height := string (mul ($desktop | int) ($ratio | int)) }}
        {{ $size := printf "%sx%s" $width $height }}
        {{ $desktop = partial "GetDividedImage" (dict
          "size" $size
          "divider" ($column | int)) }}
      {{ end }}
      {{ if $mobile }}
        {{ $width := string $mobile }}
        {{ $height := string (mul ($mobile | int) ($ratio | int)) }}
        {{ $size := printf "%sx%s" $width $height }}
        {{ $mobile = partial "GetDividedImage" (dict
          "size" $size
          "divider" 2) }}
      {{ end }}
      
      {{ range . }}
        {{ $src := . }}
        {{ if isset . "src" }}
          {{ $src = .src }}
        {{ end }}
        <div>
          {{ $image_fallback := partial "GetImageResizeSrc" (dict "image" $src "size" "750x") }}
          {{ $image_small := partial "GetImageResizeSrc" (dict "image" $src "size" "720x" "type" "webp") }}
          {{ $image_medium := partial "GetImageResizeSrc" (dict "image" $src "size" "1024x" "type" "webp") }}
          {{ $image_large := partial "GetImageResizeSrc" (dict "image" $src "size" "1280x" "type" "webp") }}
          {{ $image_xlarge := partial "GetImageResizeSrc" (dict "image" $src "size" "1440x" "type" "webp") }}
          {{ $image_2xlarge := partial "GetImageResizeSrc" (dict "image" $src "size" "1600x" "type" "webp") }}
          {{ $srcset := printf "%s 720w, %s 1024w, %s 1280w, %s 1440w, %s 1600w" $image_small $image_medium $image_large $image_xlarge $image_2xlarge }}
          <a href="{{ $image_fallback }}" class="lightbox" data-group="gallery-{{ $index }}" data-srcset="{{ $srcset }}">
            {{ partial "commons/figure" (dict
              "src" $src 
              "alt" .alt 
              "desktop" $desktop
              "mobile" $mobile
              ) }}
          </a>
        </div>
      {{ end }}

    </div>
    {{ end }}

  </div>
</section>