{{ $first := .first }}

<section class="block-images{{ with .background }} block-bg{{ end }}">
  <div class="container">
    
    {{ partial "blocks/heading.html" . }}

    {{ with .images }}
      <div class="images">
        {{ $desktop := site.Params.blocks.figure.desktop | default false }}
        {{ $mobile := site.Params.blocks.figure.mobile | default false }}
        {{ partial "commons/images" (dict
          "images" .
          "first" $first
          "desktop" $desktop
          "mobile" $mobile ) }}
      </div>
    {{ end }}

  </div>
</section>