<section class="block-infos{{ with .background }} block-bg{{ end }}">
  <div class="container">
    
    {{ partial "blocks/heading.html" . }}

    {{ $column := 3 }}
    {{ with .column }}
      {{ $column = . }}
    {{ end }}
    {{ with .items }}
    <div class="items items-{{ $column }}">
      {{ range . }}
        <div>
          {{ with .icon }}
            <span class="media">{{ . }}</span>
          {{ end }}
          {{ with .title }}
            <h3>{{ partial "PrepareHTML" . }}</h3>
          {{ end }}
          {{ with .text }}
            <p>{{ partial "PrepareHTML" . }}</p>
          {{ end }}
        </div>
      {{ end }}
    </div>
    {{ end }}


  </div>
</section>