<section class="block-informations{{ with .background }} block-bg{{ end }}"{{ partial "func/SetAnim" (dict "element" "block") }}>
  <div class="container">
    
    {{ partial "blocks/heading.html" . }}

    {{- $column := 3 -}}
    {{- with .column -}}
      {{- $column = . -}}
    {{- end -}}
    {{- with .items }}
    <div class="items items-{{ $column }}">
      {{ range . }}
        <div>
          <div class="item">

            <div class="content">
              {{ with .title }}
                <p class="name">{{ partial "func/PrepareHTML" . }}</p>
              {{ end }}
              {{ with .text }}
                <p>{{ partial "func/PrepareHTML" . }}</p>
              {{ end }}
              {{ with .cta }}
                {{ partial "commons/cta.html" . }}
              {{ end }}
            </div>

            {{- $class := "none" -}}
            {{- if .icon -}}
              {{- $class = "icon" -}}
            {{- else if .image.isLogo -}}
              {{- $class = "logo" -}}
            {{- else if .image.src -}}
              {{- $class = "image" -}}
            {{- end }}

            <div class="media media-{{ $class }}">
              {{- with .icon -}}
                <i class="icon icon-{{ . }}"></i>
              {{- else -}}

                {{ with .image }}
                  {{- $columnTotal := site.Params.column | default false -}}
                  {{- $desktop := site.Params.container.desktop | default false -}}
                  {{- $mobile := site.Params.image.scrollsnap | default false -}}
                  {{- if $desktop -}}
                    {{- $width := partial "func/GetColumnWidth" (dict "column" (div $columnTotal $column)) -}}
                    {{- $desktop = printf "%sx" (string $width) -}}
                  {{- end -}}
                  {{ partial "commons/image" (dict
                    "src" .src 
                    "alt" .alt 
                    "desktop" $desktop
                    "mobile" $mobile
                    ) }}
                {{ end }}

              {{- end -}}
            </div>

          </div>
        </div>
      {{ end }}
    </div>
  {{ end -}}

  </div>
</section>