<section class="block-infos{{ with .background }} block-bg{{ end }}">
  <div class="container">
    
    {{ partial "blocks/heading.html" . }}

    {{ $column := 3 }}
    {{ with .column }}
      {{ $column = . }}
    {{ end }}
    {{ with .items }}
    <div class="items items-{{ $column }}">
      {{ range . }}
        <div>
          <div class="card">
            <div class="media">
              {{ with .icon }}
                <i class="icon icon-{{ . }}"></i>
              {{ end }}
            </div>
            <div class="content">
              {{ with .title }}
              <p class="name">{{ partial "PrepareHTML" . }}</p>
              {{ end }}
              {{ with .text }}
                <p>{{ partial "PrepareHTML" . }}</p>
              {{ end }}
            </div>
          </div>
        </div>
      {{ end }}
    </div>
    {{ end }}


  </div>
</section>