{{ $isFirst := .first }}

<section class="block-instagram{{ with .background }} block-bg{{ end }}"{{ partial "func/SetAnim" (dict "element" "block") }}>
  <div class="container">
    
    {{ partial "blocks/heading.html" . }}

    {{ if .token }}
      {{ $limit := .count | default 5 }}
      <div class="instagram js-instagram" data-limit="{{ $limit }}" data-token="0{{ .token }}"></div>
    {{ else }}
      <p>Access token is missing</p>
    {{ end }}

    {{ partial "commons/cta.html" .cta }}

  </div>
</section>