<section class="block-latest-posts">
  <div class="container">
    {{ with .title }}
      <header class="heading">
        <h2>{{ partial "PrepareHTML" . }}</h2>
        {{ $index := site.GetPage "/posts" }}
        <a href="{{ $index.Permalink }}" class="more">{{ i18n "posts.more" }}</a>
      </header>
    {{ end }}
    {{ $count := 3 }}
    {{ with .count }}
      {{ $count = . }}
    {{ end }}
    {{ with first $count ( ( where site.RegularPages "Section" "posts" ).ByDate.Reverse ) }}
      {{ partial "posts/items" . }}
    {{ end }}
  </div>
</section>