{{ $section := .section }}
{{ $atf := false }}
{{ if .first }}
  {{ $atf = true }}
{{ end }}

{{ if $section }}
<section class="block-latest{{ with .background }} block-bg{{ end }}"{{ partial "func/SetAnim" (dict "element" "block") }}>
  <div class="container">

    {{ partial "blocks/heading" . }}

    {{ $scratch := .Scratch }}
    {{ $count := 3 }}
    {{ with .count }}
      {{ $count = . }}
    {{ end }}
    {{ with first $count ( ( where site.RegularPages "Section" $section ).ByDate.Reverse ) }}
      {{ $partial := printf "%s/items" $section }}
      {{ partial $partial (dict "pages" . "scrollsnap" true "abovethefold" $atf) }}
    {{ end }}

    {{ $show_button := .show_more | default true }}
    {{ if $show_button }}
      {{ $index := site.GetPage (printf "/%s" $section) }}
      {{ with $index }}
        <div class="bottom">
          {{ $i18n := printf "%s.more" $section }}
          <a href="{{ .Permalink }}" class="more">{{ i18n $i18n }}</a>
        </div>
      {{ end }}
    {{ end }}
  </div>
</section>
{{ end }}
