{{/* UI */}}
{{- $ui := partial "func/GetBlockUI" (merge (dict "type" "latest") .) -}}

{{/* Class */}}
{{- $blockClass := partial "func/GetBlockClasses" (dict "type" "latest" "variant" .section "ui" $ui) -}}

{{/* Context */}}
{{- $context := merge . (dict "ui" $ui) -}}

{{/* Block */}}
<section class="{{ $blockClass }}" {{- partial "func/SetSearchIgnore.html" . }} {{- partial "func/SetAnim.html" (dict "element" "block") }}>
{{- partial "func/SetContainerRowColStart.html" (dict "grid" $ui.grid "class" $ui.rowClass) -}}
  {{- partial "blocks/templates/latest/header.html" . -}}
  {{- partial "blocks/templates/latest/body.html" $context -}}
  {{- partial "blocks/templates/latest/footer.html" . -}}
{{- partial "func/SetContainerRowColEnd.html" (dict "grid" $ui.grid "class" $ui.rowClass) -}}
</section>
