<section class="block-latest-projects{{ with .background }} block-bg{{ end }}">
  <div class="container">
    {{ with .title }}
      <header class="heading">
        <h2>{{ partial "PrepareHTML" . }}</h2>
        {{ $index := site.GetPage "/projects" }}
        <a href="{{ $index.Permalink }}" class="more">{{ i18n "projects.more" }}</a>
      </header>
    {{ end }}
    {{ $count := 3 }}
    {{ with .count }}
      {{ $count = . }}
    {{ end }}
    {{ with first $count ( ( where site.RegularPages "Section" "projects" ).ByDate.Reverse ) }}
      {{ partial "projects/items" . }}
    {{ end }}
  </div>
</section>