{{- $class := partial "func/GetColClass" .grid -}}
{{- $zoom := .zoom -}}

<section class="block-map{{ with .background }} block-bg{{ end }}"{{ partial "func/SetAnim" (dict "element" "block") }}>
  <div class="container">

    {{ if $class }}
    <div class="row">
      <div class="{{ $class }}">
    {{ end }}

        {{ partial "blocks/heading.html" . }}

        {{ with .location }}
          {{ partial "commons/map" (dict "location" . "zoom" $zoom) }}
        {{ end }}

    {{ if $class }}
      </div>
    </div>
    {{ end }}
    
  </div>
</section>