{{/* UI */}}
{{- $ui := partial "func/GetBlockUI" (merge (dict "type" "paragraph") .) -}}

{{/* Class */}}
{{- $blockClass := partial "func/GetBlockClasses" (dict "type" "paragraph" "ui" $ui) -}}

{{/* Context */}}
{{- $context := merge . (dict "ui" $ui) -}}

{{/* Block */}}
<section class="{{ $blockClass }}" {{- partial "func/SetAnim.html" (dict "element" "block") }}>
{{- partial "func/SetContainerRowColStart.html" (dict "grid" $ui.grid "class" $ui.rowClass) -}}
  {{ partial "blocks/templates/paragraph/header.html" . }}
  {{ partial "blocks/templates/paragraph/body.html" $context }}
  {{ partial "blocks/templates/paragraph/footer.html" . }}
{{- partial "func/SetContainerRowColEnd.html" (dict "grid" $ui.grid "class" $ui.rowClass) -}}
</section>
