{{ $tag := cond (ne .title "") "h2" "h3" }}
<section class="block-pushes{{ with .background }} block-bg{{ end }}">
  <div class="container">
    
    {{ partial "blocks/heading.html" . }}

    {{ $column := 3 }}
    {{ with .column }}
      {{ $column = . }}
    {{ end }}
    {{ with .items }}
    <div class="items items-{{ $column }}">
      {{ range . }}
        <div>

          <div class="push push-{{ .offset }}">
            <div class="content">
              {{ with .title }}
                {{- printf "<%s>" $tag | safeHTML -}}
                  {{ partial "func/PrepareHTML" . }}
                {{- printf "</%s>" $tag | safeHTML -}}
              {{ end }}
              {{ with .text }}
                <p>{{ partial "func/PrepareHTML" . }}</p>
              {{ end }}
              {{ with .cta }}
                  {{ partial "commons/cta.html" . }}
                {{ end }}
            </div>

            {{ with .image }}
              {{ $columnTotal := site.Params.column | default false }}
              {{ $desktop := site.Params.container.desktop | default false }}
              {{ $mobile := site.Params.container.mobile | default false }}
              {{ if $desktop }}
                {{ $width := partial "func/GetColumnWidth" (dict "column" (div $columnTotal $column)) }}
                {{ $desktop = printf "%sx" (string $width) }}
              {{ end }}
              {{ if $mobile }}
                {{ $mobile = printf "%sx%s" (string $mobile) (string $mobile) }}
              {{ end }}
            
              {{ partial "commons/image" (dict
                "src" .src 
                "alt" .alt 
                "desktop" $desktop
                "mobile" $mobile
                ) }}
            {{ end }}
          </div>

        </div>
      {{ end }}
    </div>
    {{ end }}

  </div>
</section>