{{ $tag := cond (ne .title "") "h2" "h3" }}
<section class="block-pushes{{ with .background }} block-bg{{ end }}">
  <div class="container">
    
    {{ partial "blocks/heading.html" . }}

    {{ $column := 3 }}
    {{ with .column }}
      {{ $column = . }}
    {{ end }}
    {{ with .items }}
    <div class="items items-{{ $column }}">
      {{ range . }}
        <div>
          
          {{ $hasOnlyLink := false }}
          {{ with .cta }}
            {{ if and (or (not (isset . "text")) (eq .text "")) (and (isset . "url") (ne .url "")) }}
              {{ $hasOnlyLink = true }}
            {{ end }}
          {{ end }}

          <div class="push push-{{ .offset }}"{{ if or .background_color .color }} style="{{ with .background_color }}--push-background-color: {{ .}};{{ end }}{{ with .color }}--push-color: {{ .}};{{ end }}"{{ end }}>

            {{ if $hasOnlyLink }}
              {{ $blank := .cta.blank | default false }}
              {{ $title := i18n "link.blank" }}
              <a href="{{ .cta.url }}" {{ if $blank }} target="_blank" title="{{ $title }}"{{ end }}>
            {{ end }}

            {{ if or .title .text .cta.text }}
            <div class="content">
              {{- with .title }}
                {{- printf "<%s>" $tag | safeHTML -}}
                  {{ partial "func/PrepareHTML" . }}
                {{- printf "</%s>" $tag | safeHTML -}}
              {{ end -}}
              {{- with .text }}
                <p>{{ partial "func/PrepareHTML" . }}</p>
              {{ end -}}
              {{ with .cta }}
                {{ partial "commons/cta.html" . }}
              {{ end }}
            </div>
            {{ end }}

            {{ with .image }}
              {{ $columnTotal := site.Params.column | default false }}
              {{ $desktop := site.Params.container.desktop | default false }}
              {{ $mobile := site.Params.container.mobile | default false }}
              {{ if $desktop }}
                {{ $width := partial "func/GetColumnWidth" (dict "column" (div $columnTotal $column)) }}
                {{ $desktop = printf "%sx" (string $width) }}
              {{ end }}
              {{ if $mobile }}
                {{ $mobile = printf "%sx%s" (string $mobile) (string $mobile) }}
              {{ end }}
            
              {{ partial "commons/image" (dict
                "src" .src 
                "alt" .alt 
                "desktop" $desktop
                "mobile" $mobile
                ) }}
            {{ end }}

            {{ if $hasOnlyLink }}
              {{ $blank := .blank | default false }}
              {{ $title := i18n "link.blank_aria" (dict "Title" (partial "func/PrepareHTML" .text))}}
              </a>
            {{ end }}
            
          </div>

        </div>
      {{ end }}
    </div>
    {{ end }}

  </div>
</section>