<figure class="block-quote{{ with .background }} block-bg{{ end }}">
  <div class="container">
    <div class="row">

      <div class="content">
        {{ with .text}}
        <blockquote>
          <p>{{ partial "PrepareHTML" . }}</p>
        </blockquote>
        {{ end }}

        {{ with .author }}
        <figcaption>
          {{ with .image}}
            {{ $desktop := site.Params.image.xsmall | default false }}
            {{ partial "commons/image.html" (dict
                "src" .src
                "alt" .alt
                "desktop" $desktop
                "crop" "Top"
              ) }}
          {{ end }}
          <div>
            {{ with .title}}
              <cite>{{ partial "PrepareHTML" . }}</cite><br>
            {{ end }}
            {{ partial "PrepareHTML" .text }}
          </div>
        </figcaption>
        {{ end }}

    </div>
  </div>
</figure>