{{/* UI */}}
{{- $ui := partial "func/GetBlockUI" . -}}

{{/* Class */}}
{{- $blockClass := partial "func/GetBlockClasses" (dict "name" .block "ui" $ui) -}}

{{/* Context */}}
{{- $context := merge . (dict "ui" $ui) -}}

{{ if .items }}
<section class="{{- $blockClass }}" {{- partial "func/SetAnim.html" (dict "element" "block") }}>
{{- partial "func/SetContainerRowColStart.html" (dict "grid" $ui.grid "class" $ui.rowClass) -}}
  {{ partial "blocks/templates/testimonials/header.html" . }}
  {{ partial "blocks/templates/testimonials/body.html" $context }}
  {{ partial "blocks/templates/testimonials/footer.html" . }}
{{- partial "func/SetContainerRowColEnd.html" (dict "grid" $ui.grid "class" $ui.rowClass) -}}
</section>
{{ end -}}
