{{ with . }}
  <section class="block-timeline {{- with .background }} block-bg{{ end }}" {{- partial "func/SetAnim" (dict "element" "block") }}>
    <div class="container">
      {{ partial "blocks/heading.html" . }}
      {{ with .items }}
        <div class="row">
          <div>
            <ol class="items">
              {{ range . }}
                <li>
                  <article class="item">
                    {{ with .date }}
                      <p class="date">{{ partial "func/PrepareHTML" . }}</p>
                    {{ end }}
                    {{ with .title }}
                      <p class="title">{{ partial "func/PrepareHTML" . }}</p>
                    {{ end }}
                    {{ with .text }}
                      <p>{{ partial "func/PrepareHTML" . }}</p>
                    {{ end }}
                  </article>
                </li>
              {{ end }}
            </ol>
          </div>
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}