/*! purgecss start ignore */
[class*="block-"]
    @include padding-bottom($global-spacing)
    @include padding-top($global-spacing)
    .heading
        align-items: unset
        flex-direction: column
    h2 + p
        margin-top: calc(#{$spacer} / 2)
    
    @include media-breakpoint-up(lg)
        .heading
            align-items: center
            margin-left: auto
            margin-bottom: $global-spacing
            margin-right: auto
            max-width: 66%
            text-align: center
        h2 + p
            margin-top: $headings-margin-bottom
        [class*="col-"] .heading
            max-width: 100%
        .bottom
            text-align: center

.block-bg
    background-color: $light

    main:has(> &:last-child)
        padding-bottom: 0
    main > &:last-child
        @include padding-bottom($global-spacing-double)
/*! purgecss end ignore */
