.block-chart
    text-align: center
    @include media-breakpoint-down(md)
        .container,
        .row > *
            padding-left: 0
            padding-right: 0
        .row
            margin-left: 0
            margin-right: 0
        .heading
            margin-left: $gutter-mobile
            margin-right: $gutter-mobile
    .container .row
        text-align: right
    canvas + .btn
        @extend .btn-link
        @extend .btn-sm
        @extend .text-secondary
        margin-top: .5rem
    .modal
        @extend .fade
    .modal-dialog
        @extend .modal-dialog
        @extend .modal-dialog-scrollable
        @extend .modal-dialog-centered
        @extend .modal-sm
    .modal-header
        p
            @extend .modal-title
        button
            @extend .btn-close
            background-image: escape-svg($btn-close-bg)
            background-position: center
            background-repeat: no-repeat
            background-size: 1rem auto

