.block-cta
    .cta
        align-items: center
    @include media-breakpoint-up(lg)
        text-align: center
        .cta
            justify-content: center
    .btn:first-of-type
        @extend .btn-primary
    .btn + .btn
        @extend .btn-outline-primary
