.block-datas
    text-align: center
    .items
        @include make-row()
        --bs-gutter-y: #{$grid-gutter-width}
        justify-content: center
        list-style: none
        margin-bottom: 0
        padding-left: 0
        > *
            @include make-col-ready()
            @include media-breakpoint-up(lg)
                @include make-col(4)

        @for $i from 3 through 6
            &-#{$i}
                > *
                    @include media-breakpoint-up(lg)
                        @include make-col($grid-columns / $i)
    h3
        @include font-size($h5-font-size)
        @include media-breakpoint-down(md)
            margin-bottom: calc(#{$spacer} / 2)
    .gauge
        margin-left: auto
        margin-right: auto
    .value
        @extend .display-4
