.block-datas
    text-align: center
    .items
        @extend .row
        @extend .row-cols-1
        @extend .row-cols-md-3
        @extend .gy-4
        justify-content: center
        list-style: none
        margin-bottom: 0
        padding-left: 0
        > *
            @extend .col

        @for $i from 3 through 6
            &-#{$i}
                @extend .row-cols-lg-#{$i}
    h3
        @extend .h5
    .gauge
        margin-left: auto
        margin-right: auto
    .value
        @extend .display-4
