.block-figure
    figure
        margin-bottom: 0
    .screenshot
        margin-bottom: 0
        margin-top: 0

    @include media-breakpoint-up(md)
        &-start
            .heading
                align-items: flex-start
                margin-left: 0
                text-align: left

        &-end
            .heading
                align-items: flex-end
                margin-right: 0
                text-align: right
        &-full
            figcaption
                padding-left: $grid-gutter-width
                padding-right: $grid-gutter-width

    @include media-breakpoint-down(md)
        &-large,
        &-container
            figure
                margin-left: - $gutter-mobile
                margin-right: - $gutter-mobile
        &-large,
        &-container,
        &-full
            figcaption
                padding-left: $gutter-mobile
                padding-right: $gutter-mobile
        .screenshot 
            figure
                margin-left: 0
                margin-right: 0
            figcaption
                padding-left: 0
                padding-right: 0
