.block-gauges
    text-align: center
    .heading
        flex-direction: column
        align-items: center
    h3
        @extend .h5
    .row
        @extend .gy-4
        justify-content: center
    .gauge
        margin-left: auto
        margin-right: auto
