.block-informations
    .items
        @include make-row()
        --bs-gutter-y: #{$grid-gutter-width}
        justify-content: center
        text-align: center
        > div
            @include make-col-ready()

        @for $i from 2 through 6
            &-#{$i}
                > div
                    @include media-breakpoint-up(lg)
                        @include make-col($grid-columns / $i)
        
        &:not(.items-1)
            @include scroll-snap

    .item
        --bs-card-spacer-y: 1.5rem
        --bs-card-spacer-x: 1.5rem
        --bs-card-bg: #{$gray-200}
        --bs-card-cap-bg: #{$gray-200}
        @extend .card
        border: 0
        height: 100%
        text-align: left
        .media
            background: transparent
            padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x)
            &-none
                padding: 0
            &-logo
                border-radius: 0

    .media
        &-icon
            > .icon
                position: static
        &-image,
        &-logo
            @extend .ratio-21x9
        &-logo
            picture
                align-items: center
                display: flex
                justify-content: center
            img
                max-height: 70%
                max-width: 60%
        &-image
            img
                object-fit: cover
    
    .icon
        font-size: 2rem

    .btn
        @extend .btn-link
        @extend .small
        margin-left: - $btn-padding-x