.block-infos
    text-align: center
    .items
        @extend .row
        @extend .gy-4
        justify-content: center
        > *
            @extend .col

        @for $i from 3 through 6
            &-#{$i}
                @extend .row-cols-md-#{$i - 1}
                @extend .row-cols-lg-#{$i}
        
        @include scroll-snap

    .card
        --bs-card-spacer-y: 1.5rem
        --bs-card-spacer-x: 1.5rem
        background-color: $gray-200
        border: 0
        height: 100%
        text-align: left
        .media
            background: transparent
            padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x)
            > *
                position: static
    
    .icon
        font-size: 2rem
