.block-infos
    text-align: center
    .heading
        flex-direction: column
        align-items: center
    .items
        @extend .row
        @extend .row-cols-1
        @extend .row-cols-md-3
        @extend .gy-4
        justify-content: center
        > *
            @extend .col

        @for $i from 3 through 6
            &-#{$i}
                @extend .row-cols-lg-#{$i}


    .icon
        align-items: center
        background-color: $light
        border-radius: 50%
        display: inline-flex
        font-size: 3rem
        height: px2rem(100)
        justify-content: center
        margin-bottom: 1rem
        width: px2rem(100)
