.block-instagram
    text-align: center
    .instagram
        @extend .row
        justify-content: center
        div
            flex: 1
            max-width: calc(300px - #{$grid-gutter-width})
        a
            display: block
            &::after
                content: none
        img
            height: auto
            width: 100%
    .btn
        @include margin-top($global-spacing)
        @extend .btn-primary