.block-selected
    .items > div
        @include scroll-snap
        justify-content: center

    &-list
        @include media-breakpoint-up(md)
            .container
                display: grid
                gap: $grid-gutter-width
                grid-template-columns: 1fr 1fr
            .heading
                align-items: flex-start
                margin-bottom: 0
                margin-left: 0
                max-width: none
                text-align: left
            .items
                margin-top: 3rem
            .bottom
                grid-column: 1 / 3
        .items
            list-style-type: none
            margin-bottom: 0
            padding-left: 0
            li
                margin-bottom: .5rem
                margin-top: .5rem
        
    .bottom
        @include margin-top($global-spacing)
        .btn
            @extend .btn-secondary