.block-blockquote
    padding-bottom: map-get($spacers, 5)
    padding-top: map-get($spacers, 5)
    text-align: center
    .content
        @extend .col-md-8
        @extend .offset-md-2
    figcaption
        align-items: center
        display: flex
        justify-content: center
        margin-top: 0
        &::before
            content: none
        picture
            display: block
        div
            line-height: 1.2
            text-align: left
        cite
            font-style: normal
            font-weight: $font-weight-bold
        & + div
            margin-top: 2rem
    