.block-blockquote
    @extend .pb-5
    @extend .pt-5
    .container > *
        margin-left: auto
        margin-right: auto
        width: calc(66.666667% - (1.5rem/4))
    figcaption
        &::before
            content: none