.block-editorial
    padding-bottom: map-get($spacers, 5)
    padding-top: map-get($spacers, 5)
    .row
        align-items: center
        .content
            @extend .col-md-6
        .media
            @extend .col-md-6
    .btn
        @extend .btn-primary
    
    &-rtl
        .row
            flex-direction: row-reverse
    