<div class="hero-content">
  {{- with .surtitle }}
    <p class="surtitle">{{ partial "func/PrepareHTML.html" . }}</p>
  {{ end -}}
  {{- with .title }}
    <h1 {{- if and site.Params.search.enable site.Params.search.sort }} data-pagefind-sort="heading"{{ end }}>{{ partial "func/PrepareHTML.html" . }}</h1>
  {{ end -}}
  {{- partial "commons/text.html" (dict "text" .text "class" "description") -}}
  {{- with .ctas }}
    {{ partial "commons/cta-group.html" (dict "ctas" .) }}
  {{- else -}}
    {{/*  Deprecated  */}}
    {{ partial "commons/cta-group.html" (dict "cta" .cta "cta_second" .cta_second) }}
  {{ end -}}
</div>