{{/*  Get params  */}}
{{- $file := .file -}}
{{- $file_mobile := .file_mobile -}}
{{- $desktop_size := .desktop_size -}}
{{- $desktop_size_2x := .desktop_size_2x -}}
{{- $mobile_size := .mobile_size -}}
{{- $mobile_size_2x := .mobile_size_2x -}}
{{- $mobile_size_3x := .mobile_size_3x -}}
{{- $crop := .crop -}}
{{- $filter := .filter -}}
{{- $hint := .hint -}}
{{- $process := "resize" -}}

{{/*  Get ressource  */}}
{{- $image := false -}}
{{- $image_sm := false -}}
{{- with $file -}}
  {{- $image = resources.Get . -}}
  {{- if $file_mobile -}}
    {{- $image_sm = resources.Get $file_mobile -}}
  {{- else -}}
    {{- $image_sm = $image -}}
  {{- end -}}
{{- end -}}

{{/*  Return params  */}}
{{- $image_desktop := false -}}
{{- $image_desktop_webp := false -}}
{{- $image_desktop_webp_2x := false -}}
{{- $image_mobile := false -}}
{{- $image_mobile_2x := false -}}
{{- $image_mobile_3x := false -}}
{{- $image_mobile_webp := false -}}
{{- $image_mobile_webp_2x := false -}}
{{- $image_mobile_webp_3x := false -}}
{{- $image_width := false -}}
{{- $image_height := false -}}

{{- if $image -}}

  {{- if strings.HasSuffix $file "svg" }}
    
    {{/*  Return SVG  */}}
    {{- $fileAssets := print "/assets/" .file -}}
    {{- $fileDimensions := partial "func/GetImageDimensions.html" (dict "context" . "file" $fileAssets) -}}
    {{- $image_desktop = $image.RelPermalink -}}
    {{- $image_width = index $fileDimensions 0 -}}
    {{- $image_height = index $fileDimensions 1 -}}
  
  {{- else -}}

    {{/*  Return desktop image  */}}
    {{- if $desktop_size -}}

      {{/* If crop process */}}
      {{- if partial "func/isCrop.html" $desktop_size -}}
        {{- $process = "fill" -}}
        {{- if $crop -}}
          {{- $process = (printf "%s %s" $process $crop) -}}
        {{- end -}}
      {{- end -}}
      {{/*  If specific filter */}}
      {{- if $filter -}}
        {{- $process = (printf "%s %s" $process $filter) -}}
      {{- end -}}
      {{/*  If specific hint */}}
      {{- if $hint -}}
        {{- $process = (printf "%s %s" $process $hint) -}}
      {{- end -}}
      {{- $image_desktop = $image.Process (printf "%s %s" $process $desktop_size) -}}
      {{- $image_desktop_webp = $image.Process (printf "%s %s webp" $process $desktop_size) -}}
      {{/*  If desktop retina  */}}
      {{- if $desktop_size_2x -}}
        {{- $image_desktop_webp_2x = $image.Process (printf "%s %s webp" $process $desktop_size_2x) -}}
        {{- $image_desktop_webp_2x = $image_desktop_webp_2x.RelPermalink -}}
      {{- end -}}
      {{/* Save */}}
      {{- $image_width = $image_desktop.Width -}}
      {{- $image_height = $image_desktop.Height -}}
      {{- $image_desktop = $image_desktop.RelPermalink -}}
      {{- $image_desktop_webp = $image_desktop_webp.RelPermalink -}}

    {{- else -}}

      {{/*  If specific filter */}}
      {{- if $filter -}}
        {{- $process = (printf "%s %s" $process $filter) -}}
      {{- end -}}
      {{/*  If specific hint */}}
      {{- if $hint -}}
        {{- $process = (printf "%s %s" $process $hint) -}}
      {{- end -}}
      {{- $image_width = $image.Width -}}
      {{- $image_height = $image.Height -}}
      {{- $image_desktop = $image.RelPermalink -}}
      {{- $image_desktop_webp = $image.Process (printf "%s %dx%d webp" $process $image_width $image_height) -}}
      {{- $image_desktop_webp = $image_desktop_webp.RelPermalink -}}

    {{- end -}}

    {{/*  Return mobile image  */}}
    {{- if $mobile_size -}}

      {{- $process = "resize" -}}
      {{- if partial "func/isCrop.html" $mobile_size -}}
        {{- $process = "fill" -}}
        {{- if $crop -}}
          {{- $process = (printf "%s %s" $process $crop) -}}
        {{- end -}}
      {{- end -}}
      {{/*  If specific filter */}}
      {{- if $filter -}}
        {{- $process = (printf "%s %s" $process $filter) -}}
      {{- end -}}
      {{/*  If specific hint */}}
      {{- if $hint -}}
        {{- $process = (printf "%s %s" $process $hint) -}}
      {{- end -}}
      {{- $image_mobile = $image_sm.Process (printf "%s %s" $process $mobile_size) -}}
      {{- $image_mobile_2x = $image_sm.Process (printf "%s %s" $process $mobile_size_2x) -}}
      {{- $image_mobile_3x = $image_sm.Process (printf "%s %s" $process $mobile_size_3x) -}}
      {{- $image_mobile_webp = $image_sm.Process (printf "%s %s webp" $process $mobile_size) -}}
      {{- $image_mobile_webp_2x = $image_sm.Process (printf "%s %s webp" $process $mobile_size_2x) -}}
      {{- $image_mobile_webp_3x = $image_sm.Process (printf "%s %s webp" $process $mobile_size_3x) -}}
      {{/* Save */}}
      {{- $image_mobile = $image_mobile.RelPermalink -}}
      {{- $image_mobile_2x = $image_mobile_2x.RelPermalink -}}
      {{- $image_mobile_3x = $image_mobile_3x.RelPermalink -}}
      {{- $image_mobile_webp = $image_mobile_webp.RelPermalink -}}
      {{- $image_mobile_webp_2x = $image_mobile_webp_2x.RelPermalink -}}
      {{- $image_mobile_webp_3x = $image_mobile_webp_3x.RelPermalink -}}

    {{- end -}} 

  {{- end -}}

{{- end -}}

{{- return dict  
  "image_desktop" $image_desktop 
  "image_desktop_webp" $image_desktop_webp
  "image_desktop_webp_2x" $image_desktop_webp_2x
  "image_mobile" $image_mobile 
  "image_mobile_2x" $image_mobile_2x 
  "image_mobile_3x" $image_mobile_3x 
  "image_mobile_webp" $image_mobile_webp 
  "image_mobile_webp_2x" $image_mobile_webp_2x 
  "image_mobile_webp_3x" $image_mobile_webp_3x 
  "image_width" $image_width 
  "image_height" $image_height
  -}}
