{{- $staticDir := "static" -}}
{{- $staticDirImages := (printf "%s/assets/images" $staticDir) -}}

{{/*  TITLE  */}}
{{- $seoTitle := chomp (htmlUnescape site.Title) -}}
{{- with .Site.Data.seo.title -}}
  {{- $seoTitle = chomp (htmlUnescape .) -}}
{{- end -}}
{{- if .Site.IsMultiLingual -}}
  {{- with index .Site.Data.seo .Site.Language.Lang -}}
    {{- $seoTitle = partial "func/PrepareHTML" .title -}}
  {{- end -}}
{{- end -}}
{{- if .Title -}}
  {{- $title := partial "func/GetRealTitle" . -}}
  {{- $seoTitle = printf "%s | %s" (chomp (htmlUnescape $title)) $seoTitle -}}
{{- end -}}

{{/*  DESCRIPTION  */}}
{{- $seoDescription := "" -}}
{{- with .Site.Data.seo.description -}}
  {{- $seoDescription = partial "func/PrepareHTML" . -}}
{{- end -}}
{{- if .Site.IsMultiLingual -}}
  {{- with index .Site.Data.seo .Site.Language.Lang -}}
    {{- $seoDescription = partial "func/PrepareHTML" .description -}}
  {{- end -}}
{{- end -}}
{{- with .Description -}}
  {{- $seoDescription = partial "func/PrepareHTML" . -}}
{{- end -}}
{{- with .Params.seo -}}
  {{- with .description -}}
    {{- $seoDescription = partial "func/PrepareHTML" . -}}
  {{- end -}}
{{- end -}}

{{/*  IMAGE  */}}
{{- $seoImage := "" -}}
{{- if os.FileExists (printf "%s/share.png" $staticDirImages) -}}
  {{- $seoImage = printf "%sassets/images/share.png" site.BaseURL -}}
{{- else if os.FileExists (printf "%s/share.jpg" $staticDirImages) -}}
  {{- $seoImage = printf "%sassets/images/share.jpg" site.BaseURL -}}
{{- end -}}
{{- with .Site.Data.seo.image.src -}}
  {{- $seoImage = . -}}
{{- end -}}
{{- if not .IsHome -}}
  {{ with .Params.image -}}
    {{- $image := resources.Get .src -}}
    {{- with $image -}}
      {{- if ne (strings.HasSuffix . "svg") true -}}
        {{- $seoImage = .Permalink -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- with .Params.seo -}}
    {{- $image := resources.Get .image -}}
    {{- with $image -}}
      {{- $seoImage = .Permalink -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $ogImage := $seoImage -}}
{{- $twitterImage := $seoImage -}}

{{/*  PERMALINK  */}}
{{- $seoUrl := .Permalink -}}

{{/*  TYPE  */}}
{{- $seoType := cond .IsPage "article" "website" -}}

{{/*  DATE  */}}
{{- $seoDate := cond .IsPage .Date false -}}

<title>{{ $seoTitle }}</title>
<meta name="description" content="{{ $seoDescription }}">

{{- $seo := dict "title" $seoTitle "description" $seoDescription "url" $seoUrl "image" $seoImage "type" $seoType "date" $seoDate -}}
{{ partial "head/opengraph.html" $seo }}
{{ partial "head/twitter.html" $seo }}

