{{- $staticDir := "static2" -}}
{{- $staticDirImages := (printf "%s/assets/images" $staticDir) -}}

{{/*  TITLE  */}}
{{- $seoTitle := chomp (htmlUnescape site.Title) -}}
{{- with .Site.Data.seo.title -}}
  {{- $seoTitle = chomp (htmlUnescape .) -}}
{{- end -}}
{{- if .Title -}}
  {{- $seoTitle = printf "%s | %s" (chomp (htmlUnescape .Title)) $seoTitle -}}
{{- end -}}

{{/*  DESCRIPTION  */}}
{{- $seoDescription := "" -}}
{{- with .Site.Data.seo.description -}}
  {{- $seoDescription = partial "PrepareHTML" . -}}
{{- end -}}
{{- with .Params.description -}}
  {{- $seoDescription = partial "PrepareHTML" . -}}
{{- end -}}

{{/*  IMAGE  */}}
{{- $seoImage := "" -}}
{{- if os.FileExists (printf "%s/share.png" $staticDirImages) -}}
  {{- $seoImage = printf "%sassets/images/share.png" site.BaseURL -}}
{{- else if os.FileExists (printf "%s/share.jpg" $staticDirImages) -}}
  {{- $seoImage = printf "%sassets/images/share.jpg" site.BaseURL -}}
{{- end -}}
{{- with .Site.Data.seo.image.src -}}
  {{- $seoImage = . -}}
{{- end -}}
{{ with .Params.image -}}
  {{ $image := resources.Get .src }}
  {{ if $image}}
    {{ $seoImage = $image.Permalink -}}
  {{ end }}
{{ end }}
{{- $ogImage := $seoImage -}}
{{- $twitterImage := $seoImage -}}

{{/*  PERMALINK  */}}
{{- $seoUrl := .Permalink -}}

<!-- HTML Meta Tags -->
<title>{{ $seoTitle }}</title>
<meta name="description" content="{{ $seoDescription }}">

<!-- Facebook Meta Tags -->
<meta property="og:title" content="{{ $seoTitle }}">
<meta property="og:description" content="{{ $seoDescription }}">
{{- with $ogImage }}
<meta property="og:image" content="{{ . }}">
{{ end -}}
<meta property="og:url" content="{{ $seoUrl }}">
<meta property="og:type" content="website">

<!-- Twitter Meta Tags -->
<meta name="twitter:title" content="{{ $seoTitle }}">
<meta name="twitter:description" content="{{ $seoDescription }}">
{{- with $twitterImage }}
<meta name="twitter:image" content="{{ . }}">
{{ end -}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="" />
