{{- $atf := cond .first true false -}}
{{- $section := .section -}}
{{- $layout := .layout | default "grid" -}}
{{- $count := .count | default 3 -}}
{{- $items := false -}}
{{- if and (eq $section "pages") (site.GetPage "section" "pages") -}}
  {{- $items = where site.Pages "Params.isPage" true -}}
{{- else -}}
  {{- $items = where (where site.Pages "Section" $section) "File.Path" "ne" (print $section "/_index.md") -}}
{{- end -}}
{{- $items = $items.ByTitle -}}
{{- if isset (index $items 0).Params "date" -}}
  {{- $items = $items.ByDate.Reverse -}}
{{- end -}}
{{- $items = first $count $items -}}

{{- if $items }}
<div class="container">
  {{- partial "blocks/templates/selected/header.html" . -}}
  {{- if eq $layout "list" }}
    {{ partial "blocks/templates/latest/list.html" $items }}
  {{- else -}}
    {{ partial "blocks/templates/latest/grid.html" (dict "section" $section "items" $items "atf" $atf) }}
  {{ end -}}
</div>
{{ end -}}