{{ $pages := . }}
{{ $scrollsnap := false }}
{{ if reflect.IsMap . }}
  {{ $pages = .pages }}
  {{ with .scrollsnap }}
    {{ $scrollsnap = true }}
  {{ end }}
{{ end }}

{{ with $pages }}
  {{ if gt . 0 }}
    <div class="projects">
      {{ range . }}
        <div>
          {{ if $scrollsnap }}
            {{ .Scratch.Set "scrollsnap" true }}
          {{ end }}
          {{ partial "projects/item.html" . }}
          {{ if $scrollsnap }}
            {{ .Scratch.Delete "scrollsnap" }}
          {{ end }}
        </div>
      {{ end }}
    </div>
  {{ end }}
{{ end }}
