{{- $column := int .ui.column | default 3 -}}
{{- $scrollsnap := partial "func/SetScrollsnap.html" (dict "scrollsnap" .ui.scrollsnap "context" (printf "blocks.%s" .type)) -}}
{{- $context := . -}}
{{- with .items }}
  <div class="items items-{{ $column }} {{- $scrollsnap }}">
    {{- range . }}
      <div>
        {{- $item := . | merge (dict "column" $column) -}}
        {{- with $item }}
          <div class="item">
            {{ partial "blocks/templates/informations/item/content" . }}
            {{ partial "blocks/templates/informations/item/media" (merge . $context) }}
          </div>
        {{ end -}}
      </div>
    {{ end -}}
  </div>
{{ end -}}
