{{- $column := .column -}}
{{- $class := false -}}
{{- if .icon -}}
  {{- $class = "icon" -}}
{{- else if .image.isLogo -}}
  {{- $class = "logo" -}}
{{- else if .image.src -}}
  {{- $class = "image" -}}
{{- end -}}

{{- if $class -}}
<div class="media media-{{ $class }}">
  {{- with .icon -}}
    <i class="icon icon-{{ . }}"></i>
  {{- else -}}

    {{- with .image }}
      {{- $columnTotal := site.Params.column | default false -}}
      {{- $desktop := site.Params.container.desktop | default false -}}
      {{- $mobile := site.Params.image.scrollsnap | default false -}}
      {{- if $desktop -}}
        {{- $width := partial "func/GetColumnWidth" (dict "column" (div $columnTotal $column)) -}}
        {{- if eq $class "image" -}}
          {{- $height := int (mul $width site.Params.blocks.informations.image.ratio) -}}
          {{- $desktop = printf "%sx%s" (string $width) (string $height) -}}
        {{- else -}}
          {{- $desktop = printf "%sx" (string $width) -}}
        {{- end -}}
      {{- end -}}
      {{ partial "commons/image" (dict
        "src" .src 
        "alt" .alt 
        "desktop" $desktop
        "mobile" $mobile
        ) }}
    {{ end -}}

  {{- end -}}
</div>
{{- end -}}