{{- if site.Params.search.enable }}
  {{- $uniqueID := now.UnixNano | hash.FNV32a }}

  <script src="/pagefind/pagefind-ui.js"></script>
  <div id="search-{{ $uniqueID }}" class="search"></div>
  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      new PagefindUI({ 
        element: "#search-" + {{ $uniqueID }}, 
        showEmptyFilters: {{ site.Params.search.showEmptyFilters | default true }},
        showImages: {{ site.Params.search.showImages | default true }},
        showSubResults: {{ site.Params.search.showSubResults | default true }},
        processResult: function (result) {
          document.querySelector(".pagefind-ui__button").classList.add("btn");
          return result;
        }
      });
    });
  </script>
{{- end }}