{{ $params := .params }}
{{ with .context }}
  <div class="container">
    {{- partial "blocks/heading.html" . -}}
    {{ with .items }}
      {{ if gt (. | len) 1 }}
        <div class="items items-{{ $params.column }}">
          {{ range . }}
            <div>
              {{- partial "blocks/templates/pushes/push.html" (dict "push" . "params" $params) -}}
            </div>
          {{ end }}
        </div>
      {{ else }}
        {{ range . }}
          {{- partial "blocks/templates/pushes/push.html" (dict "push" . "params" $params) -}}
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
{{ end }}
