{{- $column := .params.column -}}
{{- $tag := .params.tag | default "h2" -}}

{{- with .push }}

  {{- $pushClass := "push" -}}
  {{- with .offset }}
    {{- $pushClass = printf "%s push-%s" $pushClass . -}}
  {{- end -}}
  {{- with .card -}}
    {{- $pushClass = printf "%s push-card" $pushClass -}}
  {{- end -}}
  {{- with .darken -}}
    {{- $pushClass = printf "%s push-darken" $pushClass -}}
  {{- end -}}

  {{- $style := "" -}}
  {{- with .background_color -}}
    {{- $style = printf "--push-color-background: %s;" . -}}
  {{- end -}}
  {{- with .color -}}
    {{- $style = printf "%s --push-color: %s;" $style . -}}
  {{- end -}}
  {{- $style = printf " style='%s'" $style -}}

  <div class="{{ $pushClass }}" {{- if or .background_color .color }}{{ $style | safeHTMLAttr }}{{ end }}>

    {{/* Content */}}
    {{ partial "commons/push/content.html" (merge . (dict "tag" $tag)) }}

    {{/* Image */}}
    {{- $width := partial "func/GetColumnWidth.html" (dict "column" (div site.Params.column $column)) -}}
    {{- $desktop := printf "%sx" (string $width) -}}
    {{- $mobile := site.Params.blocks.pushes.mobile | default site.Params.container.mobile -}}
    {{ if $mobile }}
      {{- $mobile = printf "%sx%s" (string $mobile) (string $mobile) -}}
    {{ end }}
    {{- $lazy := partial "func/isLazyImage" (dict "first" .first) -}}

    {{/* Media */}}
    {{ partial "commons/push/media.html" (merge .image (dict "desktop" $desktop "mobile" $mobile "lazy" $lazy)) }}

  </div>
{{ end -}}
