{{- $cookie_page_default := "https://gdpr.eu/cookies/" -}}
{{- $cookie_page := site.Params.cookie_banner.page | default $cookie_page_default -}}
{{- $cookie_label := partial "func/PrepareHTML" (i18n "cookie_banner.label") -}}
{{- $cookie_text := partial "func/PrepareHTML" (i18n "cookie_banner.text") -}}
{{- $cookie_refuse := partial "func/PrepareHTML" (i18n "cookie_banner.refuse") -}}
{{- $cookie_accept := partial "func/PrepareHTML" (i18n "cookie_banner.accept") -}}
<div class="cookie-consent js-cookie-consent show" tabindex="-1" role="dialog" aria-label="{{ $cookie_label }}" describedby="cookie-consent-description">
  <div>
    <p id="cookie-consent-description">
      {{- $cookie_text }}
      <a href="{{ $cookie_page | safeURL }}" {{- if eq $cookie_page $cookie_page_default }} target="_blank" ref="noopener"{{ end }}>{{ i18n "more" }}</a>
    </p>
  </div>
  <div role="group">
    <button type="button" class="btn js-cookie-consent-refuse">{{ $cookie_refuse }}</button>
    <button type="button" class="btn js-cookie-consent-accept">{{ $cookie_accept }}</button>
  </div>
</div>