$font-family-icons: "material-icons" !default

// Font
@import "base/icons/material-icons/font"

// Variables
@import "base/icons/material-icons/variables"

// Class
.icon
    direction: ltr
    display: inline-block
    font-family: "material-icons"
    font-feature-settings: "liga"
    font-style: normal
    font-weight: normal
    font-size: px2rem(24)
    letter-spacing: normal
    line-height: 1
    text-transform: none
    white-space: nowrap
    word-wrap: normal