$icon-arrow-right: 'east'
$icon-filter: "filter_list"
$icon-first-page: 'first_page'
$icon-last-page: 'last_page'
$icon-next-page: 'navigate_next'
$icon-previous-page: 'navigate_before'
$icon-share: 'share'
$icon-target-blank: 'open_in_new'
$icon-toc: 'list'