// Font icons: https://icomoon.io/app/
@font-face
    font-display: swap
    font-family: "icomoon"
    font-style: normal
    font-weight: 400
    src: url("../fonts/icons/icomoon.woff2") format("woff2"), url("../fonts/icons/icomoon.woff") format("woff")
