// Font icons: https://icomoon.io/app/
@font-face
    font-display: block
    font-family: "icomoon"
    src: url("../fonts/icons/icomoon.woff2") format("woff2"), url("../fonts/icons/icomoon.woff") format("woff")
