.author
    @extend .card
    .media
        order: -1
    .content
        @extend .card-body
    p
        @extend .card-text
    [itemprop="url"]
        text-decoration: none
    [itemprop="name"]
        @extend .card-title
        @extend .h5
    [itemprop="description"]
        @extend .small
    a
        @extend .stretched-link
    .more
        @extend .card-link
        @extend .small
        text-decoration: underline
