.banner
    --bs-alert-border: 0
    --bs-alert-border-radius: 0
    @extend .alert !optional
    margin-bottom: 0
    text-align: center
    &-danger
        @extend .alert-danger !optional
    &-warning
        @extend .alert-warning !optional
    &-light
        @extend .alert-light !optional
    &-dark
        @extend .alert-dark !optional
    &-primary
        @extend .alert-primary !optional
    &-secondary
        @extend .alert-secondary !optional
    a
        @extend .alert-link !optional
        color: var(--bs-alert-color)
    p
        margin-bottom: 0
