.card
    .media
        @extend .card-img-top
        @extend .ratio
        background-color: $light
        order: -1
        overflow: hidden
        img
            @extend .card-img-top
            height: 100%
            object-fit: contain
    .content
        @extend .card-body
    .name
        @extend .card-title
        @extend .h5
    p
        @extend .card-text
    time
        @extend .small
        color: $text-muted
    > a
        text-decoration: none
    a:hover .name
        text-decoration-line: underline
        text-decoration-thickness: 1px

    @media (prefers-reduced-motion: no-preference)
        a ~ .media
            img
                transition: transform $transition-duration $transition-effect
        a:hover ~ .media
            img
                transform: scale(1.05)