.content-body
    margin-bottom: $grid-gutter-width * 2
    &:last-child
        margin-bottom: 0
    h2:not(:first-child)
        @include margin-top($global-spacing)
    h3:not(:first-child)
        @include margin-top($global-spacing-semi)
    > *:last-child
        margin-bottom: 0

    