.contact-list
    --bs-card-border-width: 0
    --bs-card-bg: #{$gray-100}
    @extend .card
    > div
        @extend .card-body
        > p
            @include font-size($h5-font-size)
            font-family: $headings-font-family
            font-weight: $headings-font-weight
            line-height: $headings-line-height
            margin-bottom: $headings-margin-bottom
    ul
        list-style: none
        padding-left: 0
        margin-bottom: 0
        &:not(.nav-social)
            @include font-size($small-font-size)
            line-height: 1.8
    li
        max-width: calc(100vw - (var(--bs-card-spacer-x) * 2) - (var(--bs-gutter-x) * 2))
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        @include media-breakpoint-down(lg)
            max-width: calc(100vw - (var(--bs-card-spacer-x) * 2) - (#{$gutter-mobile} * 2))
    .nav-social
        margin-bottom: calc(var(--bs-nav-link-padding-y) * -1)
        margin-left: calc(var(--bs-nav-link-padding-x) * -1)
        margin-top: .5rem
    a::after
        content: ""
