.datas
    ul
        list-style: none
        margin-bottom: 0
        padding-left: 0
    li
        margin-bottom: $spacer
        &:last-child
            margin-bottom: 0
    dl
        @include font-size(0.875rem)
    dl, dt, dd
        margin-bottom: 0