.featured-image
    display: block
    margin-bottom: $grid-gutter-width
    img
        height: auto
        width: 100%

    @include media-breakpoint-down(md)
        margin-left: - $gutter-mobile
        margin-right: - $gutter-mobile