.filters
    @extend .offcanvas-end
    .header
        @extend .offcanvas-header
        .title
            @extend .offcanvas-title
            @include font-size($h5-font-size)
            color: $headings-color
            font-family: $headings-font-family
            font-weight: $headings-font-weight
        button
            @extend .btn-close
            background-image: escape-svg($btn-close-bg)
            background-position: center
            background-repeat: no-repeat
            background-size: 1rem auto
    .content
        @extend .offcanvas-body
        > div
            &:not(:first-child)
                padding-top: calc(#{$global-spacing} / 2)
            &:not(:last-child)
                border-bottom: 1px solid $border-color
                padding-bottom: calc(#{$global-spacing} / 2)
        .list
            a:not(:hover)
                text-decoration-color: transparent
            &-mini_card
                ul, ol
                    padding-left: 0
                li
                    @extend .mini-card
                    &::before
                        content: none
                    &:not(:last-child)
                        margin-bottom: .5rem
