.filters
    @extend .offcanvas-end
    .header
        @extend .offcanvas-header
        .title
            @extend .offcanvas-title
            @extend .h5
        button
            @extend .btn-close
    .content
        @extend .offcanvas-body
        > div
            &:not(:first-child)
                padding-top: calc(#{$global-spacing} / 2)
            &:not(:last-child)
                border-bottom: 1px solid $border-color
                padding-bottom: calc(#{$global-spacing} / 2)
        .list
            p::before
                margin-right: .25em
            &[class*="tags"]
                @extend .tags
                border-top: 0
                margin-top: 0
                li
                    &::before
                        content: none

            &-mini_card
                ul, ol
                    padding-left: 0
                li
                    @extend .mini-card
                    &::before
                        content: none
                    &:not(:last-child)
                        margin-bottom: .5rem
