.files
    --bs-gutter-y: #{$grid-gutter-width}
    @extend .row 
    @extend .row-cols-1
    @extend .row-cols-md-2
    @extend .row-cols-xxl-3
    list-style: none
    padding-left: 0
    
    a
        background-color: $gray-200
        border-radius: $card-border-radius
        color: $black
        display: flex
        @media (prefers-reduced-motion: no-preference)
            transition: background .3s ease
        &:hover
            background-color: $gray-400
