.heading
    align-items: baseline
    display: flex
    flex-wrap: wrap
    margin-bottom: map-get($spacers, 4)
    h1,
    h2
        @include media-breakpoint-up(mp)
            margin-bottom: 0
    .metas
        width: 100%
    .btn,
    .more
        margin-left: auto
    @if variable-exists(icon-arrow-right)
        .more
            &::before
                @extend .icon
                content: $icon-arrow-right
                font-size: px2rem(16)
                margin-right: .25rem
                vertical-align: middle
            
