.heading
    @include margin-bottom($global-spacing-semi)
    display: flex
    flex-direction: column
    flex-wrap: wrap

    h1, h2, p
        margin-bottom: 0
        text-wrap: balance
    .surtitle
        margin-bottom: .25em
    .more
        @include more
    
    &-filter
        align-items: baseline
        flex-direction: row

    @include media-breakpoint-up(md)
        h1
            max-width: 80%
        h1 + .metas
            margin-top: 1rem
        .btn,
        .more
            margin-left: auto

    @include media-breakpoint-up(xl)
        h1
            max-width: 66.6666666667%
