.hero
    @extend .text-bg-primary
    .container
        align-items: center
        display: flex
        height: 400px
    .row
        align-items: center
        width: 100%
    &-content
        @extend .col-md-5
        // @extend .offset-md-1
    &-media
        @extend .col-md-4
        @extend .offset-md-1
    .btn
        @extend .btn-light
