.images
    @include media-breakpoint-up(md)
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      .half
          width: calc(50% - (#{$grid-gutter-width} / 2))
      figure.half:nth-last-child(2)
        margin-bottom: 0
    picture
      display: block
    figure,
    picture
      margin-bottom: $grid-gutter-width
    figure picture,
    figure:last-child
      margin-bottom: 0
    img
        max-width: 100%
        height: auto