.list
    p
        font-weight: $font-weight-bold
        margin-bottom: .5rem
    ul, ol
        list-style: none
        margin-bottom: 0
        padding-left: 0
    li
        @include font-size($small-font-size)
        &::before
            content: '-'
            margin-right: .25rem
            speak: never

aside.list
    ul
        list-style: none
        margin-bottom: 0
        padding-left: 0
    li
        @extend .mini-card
        &::before
            content: none
        &:not(:last-child)
            margin-bottom: 1rem
