.list-tags
    p
        margin-bottom: .5rem
    ul, ol
        display: flex
        flex-direction: row
        flex-wrap: wrap
        list-style: none
        margin: -.5rem 0 0
        padding: 0
    li
        line-height: 1
        margin: .5rem .5rem 0 0
        &::before
            content: none
        a
            --bs-badge-color: white
            --bs-badge-padding-x: .75rem
            --bs-badge-padding-y: .5rem
            @extend .badge
            background-color: $secondary
            text-decoration: none
            &:hover
                background-color: darken($secondary, 2)

