.list
    p
        font-weight: $font-weight-bold
        margin-bottom: .5rem
    ul, ol
        list-style: none
        margin-bottom: 0
        padding-left: 0
    li
        @include font-size(0.875rem)
        &::before
            content: '-'
            speak: never