.main-menu
    --bs-offcanvas-bg: #{$menu-background-color}
    @extend .offcanvas
    @extend .offcanvas-end
    .header
        @extend .offcanvas-header
        .title
            @extend .offcanvas-title
        button
            @extend .btn-close
            background-image: escape-svg($btn-close-bg)
            background-position: center
            background-repeat: no-repeat
            background-size: 1rem auto
    .content
        @extend .offcanvas-body
        @include media-breakpoint-up($navbar-expand)
        align-items: baseline
   
    .nav:last-child
        margin-right: - $nav-link-padding-x
    .nav-primary
        align-items: baseline
        margin-left: auto
    .nav-item-highlighted
        margin-left: $nav-link-padding-x
        margin-right: $nav-link-padding-x
    .nav-link
        --bs-nav-link-color: #{$header-color}
        &:hover
            --bs-nav-link-hover-color: #{$header-color}
    .dropdown > span
        --bs-nav-link-color: #{$header-color}
    .dropdown-toggle
        &::after
            border-top-color: $header-color

    @include media-breakpoint-down($navbar-expand)
        .nav
            align-items: center
            flex-direction: column
            text-align: center
            li
                font-size: px2rem(20)
            ul li
                font-size: px2rem(16)
            &:last-child
                margin-right: 0
        .nav + .nav
            margin-top: $spacer
        .nav-item-highlighted
            margin-top: $nav-link-padding-y
