.map
    @extend .ratio
    @extend .ratio-21x9
    @include margin-bottom($spacer)
    @include margin-top($spacer)
    background-color: $light
    overflow: hidden
    @include media-breakpoint-down(sm)
        --bs-aspect-ratio: 75%
        margin-left: - $gutter-mobile
        margin-right: - $gutter-mobile
        width: calc(100% + #{$gutter-mobile} * 2)