.metas
    @extend .small
    p
        margin-bottom: 0
    @include media-breakpoint-up(md)
        display: flex
        > *
            &:not(:first-child):not(.share)
                margin-left: .5rem
                &::before
                    content: '—'
                    margin-right: .5rem
    .share
        margin-left: auto