.mini-card
    align-items: center
    display: flex
    line-height: 1.4
    position: relative
    picture
        flex-shrink: 0
        margin-right: 1rem
    span
        @include font-size(0.875rem)
        color: $text-muted
    a
        @extend .stretched-link
