$socials: 'discord', 'facebook', 'github', 'google', 'instagram', 'linkedin', 'messanger', 'pinterest', 'slack', 'twitch', 'twitter', 'vimeo', 'whatsapp', 'youtube'
    
.nav-social
    --bs-nav-link-padding-x: .75rem
    @each $social in $socials
        .#{$social}
             a
                &::after
                    content: none
                &::before
                    @include icon($social)
                span
                    display: none
