.nav
    li
        @extend .nav-item
    a
        @extend .nav-link
        &:hover
            text-decoration-line: underline
            text-decoration-thickness: 1px
            text-underline-offset: 3px
