.nav
    li
        @extend .nav-item
        > span
            @extend .nav-link
            &:hover
                color: initial
    a
        @extend .nav-link
        &.active,
        &:hover
            text-decoration-line: underline
            text-decoration-thickness: 1px
            text-underline-offset: 3px
    
    .dropdown
        display: flex
        button
            appearance: none
            background-color: transparent
            border: 0
            margin-left: calc(var(--bs-nav-link-padding-x) * -1)
            padding: 0 .5rem
    ul 
        --bs-dropdown-link-hover-bg: transparent
        --bs-dropdown-link-active-bg: transparent
        --bs-dropdown-link-active-color: #{$primary}
        @extend .dropdown-menu-end
        a
            @extend .dropdown-item
