.pagination
    li
        @extend .page-item
    a
        @extend .page-link
        line-height: 1
        height: 100%

    .first,
    .last,
    .next,
    .previous
        &::before
            @extend .icon
            display: block
            font-size: px2rem(16)
            line-height: 1
    .first
        &::before
            content: 'first_page'
    .last
        &::before
            content: 'last_page'
    .next
        &::before
            content: 'navigate_next'
    .previous
        &::before
            content: 'navigate_before'