.pagination
    justify-content: center
    li
        @extend .page-item
    a
        @extend .page-link
        line-height: 1
        height: 100%

    .first,
    .previous
        &::before
            @extend .icon
            display: block
            font-size: px2rem(16)
            line-height: 1
    .last,
    .next
        &::after
            @extend .icon
            display: block
            font-size: px2rem(16)
            line-height: 1
    .first
        &::before
            content: 'first_page'
    .last
        &::after
            content: 'last_page'
    .next
        &::after
            content: 'navigate_next'
    .previous
        &::before
            content: 'navigate_before'

.pagination-between
    --bs-pagination-bg: transparent
    --bs-pagination-border-radius: 0
    --bs-pagination-hover-bg: transparent
    --bs-pagination-focus-bg: transparent
    @extend .pagination
    li
        margin-left: .5rem
        margin-right: .5rem
    a
        &:hover
            text-decoration-line: underline 
    .previous::before,
    .next::after
        display: inline-block
        margin-top: -.2em
        vertical-align: middle
    .previous::before
        margin-right: .25rem
    .next::after
        margin-left: .25rem
