div.press
    --bs-card-border-width: 0
    @extend .card
    background-color: $light
    .content
        padding: $global-spacing
    .name
        margin-bottom: 0
    .btn
        @extend .btn-primary
