div.press
    --bs-card-border-width: 0
    @extend .card
    background-color: $light
    .content
        @include padding($global-spacing)
    .name
        margin-bottom: 0
    .metas
        margin-bottom: $paragraph-margin-bottom
    .btn
        @extend .btn-primary
