.quote
    blockquote
        margin-bottom: 0
    blockquote + figcaption
        align-items: center
        display: flex
        justify-content: center
        margin-bottom: 0
        &::before
            content: none
        picture
            display: block
        div
            line-height: 1.2
        picture + div
            text-align: left
        cite
            font-style: normal
            font-weight: $font-weight-bold
            & ~ a
                color: $blockquote-footer-color
        & + div
            margin-top: 2rem