.reference
    --bs-badge-color: #{$gray-800}
    --bs-badge-font-weight: #{$font-weight-normal}
    --bs-badge-padding-x: .75rem
    --bs-badge-padding-y: .5rem
    @extend .badge
    background-color: $gray-200
    text-transform: uppercase