.screenshot
    position: relative
    figure::before,
    &::before,
    &::after
        border-radius: 50%
        content: ''
        height: px2rem(8)
        left: 1rem
        position: absolute
        top: px2rem(6)
        width: px2rem(8)
    &::before
        background-color: $color-screenshot-1
    &::after
        background-color: $color-screenshot-2
        left: px2rem(29)
    figure::before
        background-color: $color-screenshot-3
        left: px2rem(42)
    figcaption
        font-weight: $font-weight-bold
        justify-content: center
        padding-top: .5rem
        p
            font-size: px2rem(14)
    picture
        background-color: $color-screenshot
        border-radius: .5rem
        box-shadow: 0 .2rem .5rem 0 rgba(0, 0, 0, 0.2)
        overflow: hidden
        padding-top: px2rem(20)
    img
        width: 100%
