.share
    @extend .dropdown
    > button
        @extend .btn
        // @extend .btn-sm
        @extend .btn-light
        @extend .dropdown-toggle
        @if variable-exists(icon-share)
            &::before
                @extend .icon
                content: $icon-share
                font-size: px2rem(16)
                line-height: 1
                margin-right: .1rem
                margin-top: -.1rem
                vertical-align: middle
    ul
        @extend .dropdown-menu
    li
        a
            @extend .dropdown-item
