.sidebarmenu
    overflow-y: auto
    @include media-breakpoint-up(md)
        max-height: calc(100vh - #{$offset})
        position: sticky
        top: $offset
        @media (prefers-reduced-motion: no-preference)
            transition: height .3s ease, top .3s ease
        html.is-scrolling-down &
            max-height: calc(100vh - 1rem)
            top: 1rem

    .nav
        --bs-nav-link-color: #{$body-color}
        --bs-nav-link-padding-y: .25rem
        --bs-nav-link-padding-x: .25rem
        margin-left: - var(--bs-nav-link-padding-x)
    ul
        align-items: flex-start
        display: flex
        list-style: none
        flex-direction: column
    ul ul
        --bs-nav-link-font-size: .875rem
        padding-left: 1rem
    .nav li
        @extend .nav-item
    .nav a
        --bs-nav-link-padding-x: 0
        @extend .nav-link

    // Offcanvas
    > div
        > p
            @extend .d-none
            @extend .d-lg-block
            @include font-size($h5-font-size)
            color: $headings-color
            font-family: $headings-font-family
            font-weight: $headings-font-weight
            line-height: $headings-line-height
            margin-bottom: $headings-margin-bottom
        > button
            @include button-variant($light,$light)
            @extend .d-md-none
            @if variable-exists(icons-map)
                &::before
                    @include icon("list-nested")
                    margin-right: .5rem

    .offcanvas
        @extend .offcanvas-md
        @extend .offcanvas-start
        @include media-breakpoint-up(md)
            position: static
            transform: none
            transition: none
            visibility: visible
            width: auto
            z-index: auto
    .header
        @extend .offcanvas-header
        button
            @extend .btn-close
            background-image: escape-svg($btn-close-bg)
            background-position: center
            background-repeat: no-repeat
            background-size: 1rem auto
    .title
        @extend .offcanvas-title
        @include font-size($h5-font-size)
        color: $headings-color
        font-family: $headings-font-family
        font-weight: $headings-font-weight
    .content
        @extend .offcanvas-body
