.tags
    p
        margin-bottom: .5rem
    ul, ol
        display: flex
        flex-direction: row
        flex-wrap: wrap
        list-style: none
        margin: -.5rem 0 0
        padding: 0
    li
        line-height: 1
        margin: .5rem .5rem 0 0
        a
            @extend .badge
            @extend .text-bg-secondary
            text-decoration: none
