.tags
    border-top: 1px solid $border-color
    margin-top: $global-spacing
    padding-top: calc(#{$global-spacing} / 2)
    p
        @extend .h5
        margin-bottom: 0
    ul
        display: flex
        flex-direction: flex-wrap
        list-style: none
        margin: 0
        padding: 0
    li
        margin: .5rem .5rem 0 0
        a
            @extend .badge
            @extend .text-bg-secondary
            text-decoration: none
