.toc
    @include media-breakpoint-up(lg)
        > div
            position: sticky
            top: $offset
    > div
        > p
            @extend .d-none
            @extend .d-lg-block
            @extend .h5
        > button
            @extend .btn
            @extend .btn-light
            @extend .d-lg-none
            @if variable-exists(bootstrap-icons-map)
                &::before
                    @include icon("list-nested")
                    margin-right: .5rem
    nav 
        width: 100%
        ol, ul
            padding-left: 1.125rem
        ol, ul, li
            @include media-breakpoint-up(md)
                font-size: .875rem
        li:not(:last-child)
            margin-bottom: .5em
        ol
            ol
                list-style-type: circle
                margin-top: .5em
        a
            line-height: 1.5
            text-decoration-color: transparent
            &:hover
                text-decoration-color: $link-color
        
    .offcanvas
        @extend .offcanvas-lg
        @extend .offcanvas-end
        @include media-breakpoint-up(lg)
            position: static
            transform: none
            transition: none
            visibility: visible
            width: auto
            z-index: auto
    .header
        @extend .offcanvas-header
        @extend .h5
        button
            @extend .btn-close
    .title
        @extend .offcanvas-title
        @extend .h5
    .content
        @extend .offcanvas-body