.toc
    > p
        @extend .d-none
        @extend .d-md-block
    > button
        @extend .btn
        @extend .btn-light
        @extend .d-md-none
        @extend .mb-3
        &::before
            @extend .icon
            content: 'list'
            margin-right: .5rem
            vertical-align: bottom
    p
        @extend .h5
    ul
        font-size: px2rem(14)
        padding-left: 1.1rem
    .offcanvas
        @extend .offcanvas-md
        @extend .offcanvas-end
        @include media-breakpoint-up(md)
            position: static
            transform: none
            transition: none
            visibility: visible
            width: auto
            z-index: auto
    
