.top
    --bs-alert-border: 0
    --bs-alert-border-radius: 0
    @extend .alert
    margin-bottom: 0
    text-align: center
    &-danger
        @extend .alert-danger
    &-warning
        @extend .alert-warning
    &-light
        @extend .alert-light
    &-secondary
        @extend .alert-secondary
    p
        margin-bottom: 0
