blockquote
    @extend .blockquote
    p
        font-size: $blockquote-font-size
    & + figcaption
        @extend .blockquote-footer
        margin-top: $blockquote-margin-y
        img
            border-radius: 50%
            margin-right: .5rem
