details
    border: $border-width solid $border-color
    border-radius: 1rem
    transition: border 1s $transition-effect, box-shadow 1s $transition-effect
    @media (prefers-reduced-motion: reduce)
        transition: none
    &:not(:last-of-type)
        margin-bottom: $grid-gutter-width
    &:hover
        box-shadow: 0 0 5px 5px rgba(0,0,0,.05)
    
    summary
        @extend .h4
        align-items: baseline
        display: flex
        justify-content: space-between
        margin-bottom: 0
        padding: 1rem
        @if variable-exists(bootstrap-icons-map)
            &::after
                @include icon('arrow-down-short')
                transition: transform 1s $transition-effect
                @media (prefers-reduced-motion: reduce)
                    transition: none

        & + div
            padding-bottom: 1rem
            padding-left: 1rem
            padding-right: 1rem

    &[open]
        border-color: $primary
        @if variable-exists(bootstrap-icons-map)
            summary
                &::after
                    transform: rotate(-180deg)