figure
    margin-bottom: $paragraph-margin-bottom
    picture
        display: block
    figcaption
        margin-top: .5rem
        p
            margin-bottom: 0
        .credits
            @extend .small
