// Font icons: https://fonts.google.com/icons
@font-face
    font-display: block
    font-family: "Material Icons"
    font-style: normal
    font-weight: 400
    src: url("../fonts/icons/material-icons.woff2") format("woff2")