/*! purgecss start ignore */
// Font icons: https://icons.getbootstrap.com/
@font-face
    font-display: block
    font-family: "bootstrap-icons"
    src: url("../fonts/bootstrap-icons/bootstrap-icons.woff2") format("woff2"), url("../fonts/bootstrap-icons/bootstrap-icons.woff") format("woff");

// Variables
@import "icons-bi-var"

// Mixin
@mixin icon
    display: inline-block
    font-family: bootstrap-icons
    font-style: normal
    font-variant: normal
    font-weight: normal
    line-height: 1
    text-transform: none
    vertical-align: -0.125em

// Class
.icon
    &::before
        @include icon
        content: map-get($bootstrap-icons-map, var(--icon))
/*! purgecss end ignore */
