.icon
    direction: ltr
    display: inline-block
    font-family: "Material Icons"
    font-feature-settings: "liga"
    font-style: normal
    font-weight: normal
    font-size: px2rem(24)
    letter-spacing: normal
    line-height: 1
    text-transform: none
    white-space: nowrap
    word-wrap: normal
