// Font icons: https://icons.getbootstrap.com/
@font-face
    font-display: block
    font-family: "bootstrap-icons"
    src: url("../fonts/bootstrap-icons/bootstrap-icons.woff2") format("woff2"), url("../fonts/bootstrap-icons/bootstrap-icons.woff") format("woff");

// Class (:pseudo)
.icon
    display: inline-block
    font-family: bootstrap-icons
    font-style: normal
    font-variant: normal
    font-weight: normal
    line-height: 1
    text-transform: none
    vertical-align: -0.125em

// Variables
$icon-arrow-left: '\F12F'
$icon-arrow-right: '\F138'
$icon-filter: '\F3CA'
$icon-first-page: '\F276'
$icon-house: '\F425'
$icon-last-page: '\F277'
$icon-next-page: '\F285'
$icon-previous-page: '\F284'
$icon-share: '\F52E'
$icon-target-blank: '\F1C5'
$icon-time: '\F293'
$icon-toc: '\F474'
