// Font icons: https://fontello.com/
@font-face
    font-display: block
    font-family: 'fontello'
    font-style: normal
    font-weight: normal
    src: url('../fonts/icons/fontello.woff2?45463852') format('woff2'), url('../fonts/icons/fontello.woff?45463852') format('woff')


// Class
.icon
    direction: ltr
    display: inline-block
    font-family: "fontello"
    font-style: normal
    font-weight: normal
    font-size: px2rem(24)
    letter-spacing: normal
    line-height: 1
    text-transform: none
    white-space: nowrap
    word-wrap: normal


// Variables
$icon-angle-left: '\f104'
$icon-angle-right: '\f105'
$icon-angle-up: '\f106'
$icon-angle-down: '\f107'

$icon-first-page: '\f100'
$icon-last-page: '\f101'
$icon-next-page: $icon-angle-right
$icon-previous-page: $icon-angle-left

$icon-arrow-left: '\f177'
$icon-arrow-right: '\f178'

$icon-facebook: '\f09a'
$icon-instagram: '\f16d'
$icon-github: '\f09b'
$icon-linkedin: '\f0e1'
$icon-pinterest: '\f231'
$icon-twitter: '\f099'
$icon-whatsapp: '\f232'
$icon-youtube: '\f167'

$icon-error: '\e803'
$icon-filter: '\f1de'
$icon-link: '\e808'
$icon-location: '\e800'
$icon-link: '\e808'
$icon-menu: '\f0c9'
$icon-search: '\e809'
$icon-share: '\f1e0'
$icon-tag: '\e806'
$icon-tags: '\e807'
$icon-target-blank: '\f08e'
$icon-time: '\e802'
$icon-toc: '\f0ca'
$icon-warning: '\e801'
