/*! purgecss start ignore */
a
    text-decoration-line: underline
    text-decoration-thickness: 1px
    text-underline-offset: 3px
    @if variable-exists(bootstrap-icons-map)
        &[target="_blank"]
            &::after
                @include icon("box-arrow-up-right")
                font-size: clamp(.625rem, .8em, .875rem)
                line-height: 1
                margin-left: .5em
                vertical-align: baseline
/*! purgecss end ignore */
