{{ define "main" }}

  <div class="container">

    <code>TERM AUTHORS</code>

    <section itemscope itemtype="http://schema.org/Person">

      {{ with .Title }}
        <h1 itemprop="name">{{ partial "PrepareHTML" . }}</h1>
      {{ end }}

      <div class="row">
        <div class="col-md-8">
            
          {{ with .Params.description }}
            <p itemprop="description">{{ partial "PrepareHTML" . }}</p>
          {{ end }}
            
          {{ with .Params.image}}
            {{ partial "commons/image.html" (dict
              "src" .
              "picture_class" "featured-image"
              "desktop" "856x400"
              "itemprop" "image"
            ) }}
          {{ end }}

          {{ with .Content }}
            <div itemprop="articleBody">
                {{ partial "PrepareHTML" . }}
            </div>
          {{ end }}

        </div>
        <div class="col-md-3 offset-md-1">

          <p>Contact</p>
          <ul class="contact-list">
            {{ with .Params.email }}
              <li><a href="{{ . }}">Email</a></li>
            {{ end }}
            {{ with .Params.website }}
              <li><a href="{{ . }}">Website</a></li>
            {{ end }}
            {{ with .Params.twitter }}
              <li><a href="{{ . }}">Twitter</a></li>
            {{ end }}
          </ul>

        </div>
      </div>

      {{ with .Pages }}
        <hr>
        <h2>{{ i18n "posts.list_author" }}</h2>
        <div class="posts">
          {{ range . }}
            <div>
              {{ partial "posts/item" . }}
            </div>
          {{ end }}
        </div>
      {{ end }}

    </section>

  </div>

{{ end }}
