{{ define "hero"}}
  {{- partial "authors/hero.html" . -}}
{{ end }}

{{ define "main" }}
  {{ partial "authors/schema" . }}

  <div class="container">

    <div class="row">
      {{ partial "authors/title" . }}
      {{ partial "authors/content" . }}
      {{ partial "authors/sidebar" . }}
    </div>

    {{ with .Pages }}
      <hr>
      <header class="title">
        <h2>{{ i18n "posts.list_author" }}</h2>
      </header>
      {{ partial "posts/items" .ByDate.Reverse }}
    {{ end }}

  </div>

{{ end }}
