<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partial "head/css.html" }}
    {{ partial "head/seo.html" . }}
    {{ partial "head/favicons.html" . }}
    {{ partial "head/rss.html" . }}
  </head>
  {{ $body_class := printf "%s-%s" .Kind .Type }}
  <body class="{{ $body_class }}">
    {{- partialCached "commons/schema.html" . -}}
    {{- partial "nav/accessibility.html" -}}
    {{- partial "header/header.html" . -}}
    {{- block "hero" . }}{{- end }}
    <main id="main" role="main" tabindex="-1">
      {{- block "main" . }}{{- end }}
    </main>
    {{- partial "nav/breadcrumb.html" . -}}
    {{- partialCached "footer/footer.html" . -}}
    {{- partialCached "footer/cookie-banner.html" . -}}
    {{- partialCached "footer/js.html" . -}}
    {{- partialCached "footer/script.html" . -}}
  </body>
</html>
