<!DOCTYPE html>
<html lang="{{ .Site.Language.LanguageCode }}" dir="{{ or .Site.Language.LanguageDirection `ltr` }}">
  <head>
    {{ block "head" . }}{{ end }}
  </head>
  {{- $body_class := printf "%s-%s" .Kind .Type -}}
  {{- with .Params.body_class -}}
    {{- $body_class = printf "%s %s" $body_class . -}}
  {{- end }}
  <body class="preload {{ $body_class }}">
    {{- partialCached "commons/schema.html" . -}}
    {{- partialCached "nav/accessibility.html" . -}}
    {{- partialCached "header/banner.html" . -}}
    {{- partial "header/header.html" . -}}
    {{- partial "commons/search.html" . -}}
    {{- block "hero" . }}{{- end }}
    <main id="main" role="main" tabindex="-1" {{- if site.Params.search.enable }} data-pagefind-body{{ end }}>
      {{- block "main" . }}{{- end }}
    </main>
    {{- partial "nav/breadcrumb.html" . -}}
    {{- partial "footer/footer.html" . -}}
    {{- partial "footer/cookie-banner.html" . -}}
    {{- partialCached "footer/js.html" . -}}
    {{- partialCached "footer/scripts.html" . -}}
  </body>
</html>
