{{ define "hero"}}
  {{- partial "commons/hero.html" . -}}
{{ end }}

{{ define "main" }}

  <div class="container">

    <div class="row">
      <div class="col-md-7">
        
        {{- partial "commons/title.html" . -}}
          
        {{ with .Content }}
          <section>
            {{ partial "PrepareHTML" . }}
          </section>
        {{ end }}

      </div>
      <div class="col-md-4 offset-md-1">
        {{ partial "commons/toc" . }}
      </div>
    </div>

    <code>SINGLE DEFAULT</code>

  </div>

{{ end }}
