{{ define "main" }}

  <div class="container">

    <code>SINGLE DEFAULT</code>

    <div class="row">
      <div class="col-md-9">
        
        <section>
          {{ with .Title }}
            <h1>{{ partial "PrepareHTML" . }}</h1>
          {{ end }}
          {{ with .Date }}
            <p><time datetime="{{ . }}">{{ . | time.Format ":date_full" }}</time></p>
          {{ end }}
          {{ with .Content }}
            {{ partial "PrepareHTML" . }}
          {{ end }}
        </section>

      </div>
      <div class="col-md-2 offset-md-1">
        {{ partial "commons/share" . }}
      </div>
    </div>
  </div>

{{ end }}
