<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebPage",
    "headline": {{ partial "func/PrepareData.html" .Title }},
    
  {{- with .Params.image }}
    "image": {{ .src | absURL }},
  {{- end -}}

  {{- with .Date }}
    "datePublished": {{ . }},
  {{- end -}}

  {{- with .Params.description }}
    "abstract": {{ partial "func/PrepareData.html" . }},
  {{- end -}}

  {{ with .Content }}
    "description": {{ partial "func/PrepareData.html" . }},
  {{- end -}}
  }
</script>