@mixin scroll-snap
    @include media-breakpoint-down(lg)
        flex-wrap: nowrap
        justify-content: flex-start
        margin-left: -$gutter-mobile
        margin-right: -$gutter-mobile
        overflow: auto
        scroll-snap-type: x mandatory
        > *
            padding-left: $gutter-mobile
            padding-right: 0
            scroll-snap-align: start
            width: 30%
            &:last-child
                margin-right: $gutter-mobile
    @include media-breakpoint-down(md)
        > *
            flex: 0 0 45%
            width: 45%
    @include media-breakpoint-down(sm)
        > *
            flex: 0 0 75%
            width: 75%

@mixin avatar
    --bs-aspect-ratio: 100%
    border-radius: 50%
    display: inline-block
    min-width: 50px
    overflow: hidden
    position: relative
    &::before
        display: block
        padding-top: var(--bs-aspect-ratio)
        content: ""
    > *
        height: 100%
        left: 0
        position: absolute
        top: 0
        width: 100%
    img
        height: 100%
        object-fit: cover
        width: 100%