// https://github.com/twbs/bootstrap/blob/v5.2.3/scss/_variables.scss

// Color 
$primary: #0E0F60
$secondary: #F1F09F

// Alert
$alert-link-font-weight: normal

// Border
$border-radius: 4px
$border-radius-sm: 4px
$border-radius-lg: 4px
$border-radius-xl: 4px
$border-radius-2xl: 4px

// Breadcrumb
$breadcrumb-font-size: .75rem
$breadcrumb-margin-bottom: 0
$breadcrumb-padding-y: .625rem

// Buttons
$btn-padding-y: .75rem
$btn-padding-x:  1rem

// Font
$headings-margin-bottom: 1rem
$small-font-size: .875rem

// Pagination
$pagination-padding-y: .5rem
$pagination-padding-x: .75rem
$pagination-disabled-bg: transparent