$font-icon: "Material Icons"

// https://github.com/twbs/bootstrap/blob/v5.2.2/scss/_variables.scss

// Border
$border-radius: 0
$border-radius-sm: 0
$border-radius-lg: 0
$border-radius-xl: 0
$border-radius-2xl: 0

// Breadcrumb
$breadcrumb-font-size: px2rem(12)
$breadcrumb-margin-bottom: 0
$breadcrumb-padding-y: px2rem(10)

