// Theme variables
$header-height: 56px !default
$header-background-color: #F8F9FA !default
$hero-min-height: 400px !default
$offset: $header-height + 15px !default

$global-spacing: 2.8rem !default

$footer-background-color: #F8F9FA !default

$color-fail: #FF3333 !default
$color-average: #FFAA33 !default
$color-pass: #00CC66 !default

$gauge-color: #EEEEEE !default
$gauge-size: 200px !default
$gauge-stroke-color: #999999 !default
$gauge-stroke-size: 2.4 !default
