{{- if or .phone .fax .email }}
<ul class="contact-list">
  {{- with .phone }}
    <li class="phone">
      {{ partial "commons/contact/phone.html" . }}
    </li>
  {{- end }}
  {{- with .fax }}
    <li class="fax">
      {{ partial "commons/contact/fax.html" . }}
    </li>
  {{- end }}
  {{- with .email }}
    <li class="email">
      {{ partial "commons/contact/email.html" . }}
    </li>
  {{- end }}
  {{- /* Optional vCard hook, provided by the module owning the content type. */}}
  {{- with page }}
    {{- $vcard := printf "%s/contact/vcard.html" .Type }}
    {{- if templates.Exists ( printf "partials/%s" $vcard ) }}
      {{- partial $vcard . }}
    {{- end }}
  {{- end }}
</ul>
{{- end }}
