<script>
  window.i18n = {};
  window.i18n.close = {{ i18n "close" }};
  window.i18n.next = {{ i18n "next" }};
  window.i18n.previous = {{ i18n "previous" }};
  // SPLIDE
  window.i18n.carousel = {};
  window.i18n.carousel.carousel = {{ i18n "carousel.carousel" }};
  window.i18n.carousel.first = {{ i18n "carousel.first" }};
  window.i18n.carousel.last = {{ i18n "carousel.last" }};
  window.i18n.carousel.next = {{ i18n "carousel.next" }};
  window.i18n.carousel.pageX = {{ i18n "carousel.pagex" }};
  window.i18n.carousel.pause = {{ i18n "carousel.pause" }};
  window.i18n.carousel.play = {{ i18n "carousel.play" }};
  window.i18n.carousel.previous = {{ i18n "carousel.previous" }};
  window.i18n.carousel.select = {{ i18n "carousel.select" }};
  window.i18n.carousel.slide = {{ i18n "carousel.slide" }};
  window.i18n.carousel.slideLabel = {{ i18n "carousel.slidelabel" }};
  window.i18n.carousel.slideX = {{ i18n "carousel.slidex" }};
</script>