{{ $levels := split .RelPermalink "/" }}
{{ if gt (len $levels) 2 }}
<div class="breadcrumb-wrapper">
  <nav aria-label="{{ i18n "breadcrumb" }}">
    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a href="/" itemprop="item">{{ i18n "home" }}</a>
      </li>
      {{- $.Scratch.Set "url" "" -}}
      {{- range $levels -}}
        {{- if (gt (len .) 0) -}}    
          {{- $.Scratch.Set "isPage" "false" -}}
          {{- $.Scratch.Add "url" (print "/" . ) -}}
          {{- if $.Site.GetPage (print . ".md") -}}
            {{- with $.Site.GetPage (print . ".md") -}}
              {{- if .IsPage -}}
                {{- $.Scratch.Set "isPage" "true" -}}
              {{- end -}}
            {{- end -}}
          {{- end -}}
          {{- if eq ($.Scratch.Get "isPage") "true" -}}
            {{- with $.Site.GetPage (print . ".md") -}}
              <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a itemprop="item" href="{{ $.Scratch.Get `url` }}">{{ .Title }}</a>
              </li>
            {{- end -}}
          {{- else -}}
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              <a itemprop="item" href="{{ $.Scratch.Get `url` }}">{{ humanize . }}</a>
            </li>
          {{- end -}}
        {{- end -}}
      {{- end -}}
    </ol>
  </nav>
</div>
{{ end }}