{{ if .Site.IsMultiLingual }}
  {{ $siteLanguages := .Site.Languages}}
  {{ $pageLang := .Page.Lang}}
  <ul class="nav nav-language">
    <li class="dropdown">
      <a href="{{ .Page.Permalink }}" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" role="button">{{ upper .Site.Language.Lang }}</a>
      <ul class="dropdown-menu">
        {{ range .Page.AllTranslations }}
          {{ $translation := .}}
          {{ range $siteLanguages }}
            {{ if eq $translation.Lang .Lang }}
              <li><a href="{{ $translation.RelPermalink }}"{{ if eq $pageLang .Lang}} class="active"{{ end }}>{{ .LanguageName }}</a></li>
            {{ end }}
          {{ end }}
        {{ end }}
      </ul>
    </li>
  </ul>
{{ end }}