{{- $currentPage := .currentPage -}}
{{- $hasSpan := .span | default false -}}
{{- with .link }}
  {{- if isset . "url"}}
    {{- $title := i18n "link.blank_aria" (dict "Title" .title) -}}
    {{ $hasClass := slice }}
    {{- if hasPrefix $currentPage .url }}{{ $hasClass = $hasClass | append "active" }}{{ end -}}
    {{- if .is_highlighted }}{{ $hasClass = $hasClass | append "btn" }}{{ end -}}
    <a href="{{ .url | safeURL }}" 
      {{- if .blank }} title="{{ safeHTML $title }}" target="_blank"{{ end -}}
      {{- with $hasClass }} class="{{ delimit . ` ` }}"{{ end -}}
      {{- if hasPrefix $currentPage .url }} aria-current="page"{{ end }}>
      {{- if $hasSpan }}<span>{{ end }}
        {{- partial "func/PrepareHTML.html" .title -}}
      {{ if $hasSpan }}</span>{{ end -}}
    </a>
  {{- else -}}
    <span>
      {{- if $hasSpan }}<span>{{ end }}
        {{- partial "func/PrepareHTML.html" .title -}}
      {{ if $hasSpan }}</span>{{ end -}}
    </span>
  {{ end -}}
{{ end -}}
