{{ $sections := lower (i18n (printf "%s.title" .Type)) }}
{{ $section := i18n (printf "%s.title" .Type) 1 }}
<nav role="navigation" aria-label="{{ i18n "pagination.between" (dict "Section" $sections) }}">
  <ul class="pagination-between">
    {{ with .PrevInSection }}
      <li>
        <a href="{{ .Permalink }}" class="previous">{{ i18n "pagination.previous_section" (dict "Section" $section) }}</a>
      </li>
    {{ end }}
    {{ with .NextInSection }}
      <li>
        <a href="{{ .Permalink }}" class="next">{{ i18n "pagination.next_section" (dict "Section" $section) }}</a>
      </li>
    {{ end }}
  </ul>
</nav>