{{- if or .PrevInSection .NextInSection }}
  {{- $sections := lower (i18n (printf "%s.title" .Type)) -}}
  {{- $label := i18n "pagination.between" (dict "Section" $sections) -}}
  <nav role="navigation" aria-label="{{ $label }}" {{- partial "func/SetAnim.html" (dict "element" "pagination") }}>
    <ul class="pagination-between pagination-between-with-title">
      {{- with .PrevInSection }}
        <li class="previous">
          {{ partial "nav/item/previous-next-with-title.html" (dict "item" . "direction" "previous") }}
        </li>
      {{ end -}}
      {{- with .NextInSection }}
        <li class="next">
          {{ partial "nav/item/previous-next-with-title.html" (dict "item" . "direction" "next") }}
        </li>
      {{ end -}}
    </ul>
  </nav>
{{ end -}}
