{{- $currentPage := .RelPermalink -}}
{{ with site.Data.menu.primary }}
  <ul class="nav nav-primary">
    {{ range .links }}
      {{ $hasChildren := false }}
      {{ if .links}}{{ $hasChildren = true }}{{ end }}
      <li {{ if $hasChildren }}class="dropdown"{{ end }}>
        {{ partial "nav/link" (dict "link" . "currentPage" $currentPage) }}
        {{ if $hasChildren }}
          <button class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">{{ i18n "navigation.dropdown" }}</span>
          </button>
          <ul class="dropdown-menu">
            {{ range .links}}
              <li>
                {{ partial "nav/link" (dict "link" . "currentPage" $currentPage) }}
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </li>
    {{ end }}
  </ul>
{{ end }}