article.author
    @extend .person

aside.author
    --bs-card-border-width: 0
    @extend .card
    background-color: $light
    .media
        padding-left: $card-spacer-x
        padding-top: $card-spacer-y
        margin-bottom: calc(#{$card-spacer-y} / -2)
        &::before
            content: none
        > *
            position: relative
            height: auto
            width: auto
    .description
        @extend .small
        @extend .text-muted
    p:last-child
        @extend .small
    @if variable-exists(bootstrap-icons-map)
        a
            &::before
                @include icon("arrow-right")
                font-size: px2rem(16)
                margin-right: .25rem
                vertical-align: middle
            


