article.author
    --bs-card-spacer-x: 0
    --bs-card-border-width: 0
    --bs-card-border-radius: 0
    --bs-card-inner-border-radius: 0
    --bs-card-bg: transparent
    --bs-card-cap-bg: transparent
    @extend .card
    .description
        @extend .small
    a
        @extend .stretched-link
        & + div
            @extend .ratio
            @extend .ratio-1x1
            align-self: flex-start
            background-color: $light
            border-radius: 50%
            order: -1

aside.author
    display: flex
    flex-direction: column
    .media
        margin-bottom: .25rem
        order: -1
    .name
        font-weight: $font-weight-bold
        margin-bottom: .5rem 
    .description
        @extend .small
        @extend .text-muted
        margin-bottom: .5rem 
    p:last-child
        @extend .small
        margin-bottom: 0
    @if variable-exists(bootstrap-icons-map)
        a
            &::before
                @include icon("arrow-right")
                font-size: px2rem(16)
                margin-right: .25rem
                vertical-align: middle
            


