article.author
    @extend .card
    .description
        @extend .small
    a
        @extend .stretched-link
    .more
        @extend .card-link
        @extend .small
        text-decoration: underline

aside.author
    display: flex
    flex-direction: column
    .media
        margin-bottom: .25rem
        order: -1
    .name
        font-weight: $font-weight-bold
        margin-bottom: .5rem 
    .description
        @extend .small
        @extend .text-muted
        margin-bottom: .5rem 
    p:last-child
        @extend .small
        margin-bottom: 0
    @if variable-exists(icon-arrow-right)
        a
            &::before
                @extend .icon
                content: $icon-arrow-right
                font-size: px2rem(16)
                margin-right: .25rem
                vertical-align: middle
            


