.casestudy
    --bs-card-spacer-x: 0
    --bs-card-border-width: 0
    --bs-card-border-radius: 0
    --bs-card-inner-border-radius: 0
    --bs-card-bg: transparent
    --bs-card-cap-bg: transparent
    @extend .card
    .media
        --bs-aspect-ratio: 43%
        picture
            img
                height: 100%
                width: 100%
    .content
        text-decoration: none
    a
        @extend .stretched-link
    .cta
        @extend .btn-primary
