.casestudy
    --bs-card-spacer-x: 0
    --bs-card-border-width: 0
    --bs-card-border-radius: 0
    --bs-card-inner-border-radius: 0
    --bs-card-bg: transparent
    --bs-card-cap-bg: transparent
    @extend .card
    .media
        @extend .card-img-top
        @extend .ratio
        @extend .ratio-21x9
        background-color: $light
        order: -1
        picture
            img
                height: 100%
                width: 100%
    .content
        @extend .card-body
        text-decoration: none
    p
        @extend .card-text
    a
        @extend .stretched-link
    [itemprop="name"]
        @extend .card-title
        @extend .h5
    .cta
        @extend .btn
        @extend .btn-primary
