article.concerned
    @extend .person

aside.concerned
    --bs-card-border-width: 0
    --bs-card-bg: transparent
    --bs-card-cap-bg: transparent
    --bs-card-spacer-x: 0
    --bs-card-spacer-y: 0
    @extend .card
    .media
        background-color: transparent
        margin-bottom: .25rem
        &::before
            content: none
        > *
            position: relative
            height: auto
            width: auto
    .description
        @extend .small
        @extend .text-muted
        margin-bottom: 0.5rem
    p:last-child
        @extend .small
    @if variable-exists(bootstrap-icons-map)
        a
            &::before
                @include icon("arrow-right")
                font-size: px2rem(16)
                margin-right: .25rem
                vertical-align: middle
            


