.publication
    --bs-card-spacer-x: 0
    --bs-card-border-width: 0
    --bs-card-border-radius: 0
    --bs-card-inner-border-radius: 0
    --bs-card-bg: transparent
    --bs-card-cap-bg: transparent
    --bs-card-cap-padding-x: 0
    --bs-card-cap-padding-y: 0
    @extend .card
    .media
        --bs-aspect-ratio: 150%
    a
        @extend .stretched-link
    .press
        margin-bottom: 0
        span
            --bs-badge-font-weight: 500
            @extend .badge
            background-color: $light
            color: $black