footer[role="contentinfo"]
    background-color: $footer-background-color
    padding-bottom: $grid-gutter-width
    padding-top: $grid-gutter-width
    .bottom-links
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        padding-top: $grid-gutter-width
    [class^="nav-"]
        margin-left: - $nav-link-padding-x
        margin-right: - $nav-link-padding-x
