.grid
    display: grid
    grid-template-columns: 1fr
    @include media-breakpoint-up(md)
        grid-column-gap: $grid-gutter-width
        grid-template-columns: repeat(12, 1fr)
    >
        @include media-breakpoint-up(md)
            .heading
                grid-column: 1/13
                grid-row: 1
            .content
                grid-column: 1/9
                grid-row: 2
            .sidebar,
            .toc
                grid-column: 10/13
                grid-row: 2
            nav
                grid-column: 1/9
                grid-row: 4
        
        @include media-breakpoint-down(md)
            header
                order: 1
            .content
                order: 3
            // .media
            //     margin-bottom: $grid-gutter-width
            //     order: 2
            .sidebar
                margin-top: $global-spacing
                order: 4
            .toc
                margin-bottom: $grid-gutter-width
                order: 2
            nav
                order: 5
