.grid
    display: grid
    grid-template-columns: 100%
    @include media-breakpoint-up(md)
        grid-column-gap: $grid-gutter-width
        grid-template-columns: repeat(12, 1fr)
    >
        @include media-breakpoint-up(md)
            .heading
                grid-column: 1/13
                grid-row: 1
            .content
                grid-column: 1/9
                grid-row: 2
            .sidebar,
            .toc
                grid-column: 9/13
                grid-row: 2
            .sidebar + .toc
                @include margin-top($global-spacing)
            nav
                grid-column: 1/9
                grid-row: 4
            .sidebar + .toc + nav
                grid-row: 5
            .related
                grid-column: 1/13
                grid-row: 6


        @include media-breakpoint-up(xxl)
            .sidebar,
            .toc
                grid-column: 10/13

        @include media-breakpoint-down(md)
            header
                order: 1
            .content
                order: 3
            .sidebar
                @include margin-top($global-spacing)
                order: 4
            .toc
                margin-bottom: $grid-gutter-width
                order: 2
            nav
                order: 6
            .related
                order: 7

