main
    @include rfs($global-spacing, padding-bottom)
    @include rfs($global-spacing, padding-top)

    .row >
        .content
            @extend .col-md-7
        .sidebar
            @extend .col-md-4
            @extend .offset-md-1
        @include media-breakpoint-down(md)
            header
                order: 1
            .content
                order: 3
            .media
                margin-bottom: $grid-gutter-width
                order: 2
            .sidebar
                order: 2
            nav
                order: 4
    
    // Offset for anchor with sticky header
    [id]
        scroll-margin-top: $offset

