main
    padding-bottom: map-get($spacers, 5)
    padding-top: map-get($spacers, 5)

    .row >
        .content
            @extend .col-md-7
        .sidebar
            @extend .col-md-4
            @extend .offset-md-1
        @include media-breakpoint-down(md)
            header
                order: 1
            .content
                order: 3
            .sidebar
                order: 2
    
    // Offset for anchor with sticky header
    [id]
        scroll-margin-top: $offset

