<div class="content">
  {{ range (where site.Sections ".Params.isPage" "!=" true) }}
    {{ if and (ne .Type "admin") (ne .Type "sitemap") }}
      <div class="sitemap-{{ .Type }}">
        <h2 id="{{ .Type }}">
          <a href="{{ $permalink }}">{{ partial "func/PrepareHTML" .Title }}</a>
        </h2>
        <ul>
          {{ range .Pages.ByTitle }}
            <li>
              <a href="{{ .Permalink }}">{{ partial "func/PrepareHTML" .Title }}</a>
              {{ with .Date }}
                - {{ partial "commons/time" (dict "date" . "format" ":date_medium") }}
              {{ end }}
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
  {{ end }}
  {{- $pages := where site.Sections ".Params.isPage" true -}}
  {{ if $pages }}
    <div class="sitemap-pages">
      <h2 id="pages">{{ i18n "pages.title" ($pages | len) }}</h2>
      <ul>
        {{ range $pages }}
          <li>
            <a href="{{ .Permalink }}">{{ partial "func/PrepareHTML" .Title }}</a>
          </li>
          {{ with .Pages }}
          <ul>
            {{ range . }}
              <li>
                <a href="{{ .Permalink }}">{{ partial "func/PrepareHTML" .Title }}</a>
              </li>
            {{ end }}
          </ul>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  {{ end }}
</div>