<div class="toc">
  <div>
    <p>{{ i18n "toc" }}</p>
    <button type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#toc"
      aria-controls="toc"
      aria-expanded="false">
      {{ i18n "toc" }}
    </button>
    <div class="offcanvas" tabindex="-1" id="toc" aria-labelledby="tocLabel">
      <div class="header">
        <p class="title" id="tocLabel">{{ i18n "toc" }}</h5>
        <button type="button" data-bs-dismiss="offcanvas" aria-label="{{ i18n "navigation.close" }}"></button>
      </div>
      <div class="content">
        <ol>
          {{ range (where site.Sections ".Params.isPage" "!=" true) }}
            {{ if ne .Type "sitemap" }}
              <li>
                <a href="#{{ .Type }}">{{ partial "func/PrepareHTML" .Title }}</a>
              </li>
            {{ end }}
          {{ end }}
          {{ $pages := where site.Sections ".Params.isPage" true }}
          {{ if $pages }}
            <li>
              <a href="#pages">{{ i18n "pages.title" ($pages | len) }}</a>
            </li>
          {{ end }}
        </ol>
      </div>
    </div>
  </div>
</div>