<article class="post">
  <a href="{{ .Permalink }}" itemprop="url" class="content">
    {{ with .Date }}
      <p><time datetime="{{ . }}" itemprop="datePublished">{{ . | time.Format ":date_long" }}</time></p>
    {{ end }}
    <p itemprop="name">{{ partial "PrepareHTML" .Title }}</p>
    {{ with .Params.description }}
      <p itemprop="description">{{ partial "PrepareHTML" . }}</p>
    {{ end }}
    <p class="cta">{{ i18n "more" }}</p>
  </a>
  {{ with .Params.image}}
    <div class="media" itemprop="image">
      {{ partial "commons/image.html" (dict
        "src" .
        "class" "img-fluid"
        "resize" "290x200"
      ) }}
    </div>
  {{ end }}
</article>