<article class="card">
  {{ with .Params.image}}
    <div class="card-media">
      {{ partial "commons/image.html" (dict
        "src" .
        "class" "img-fluid"
        "resize" "290x200"
      ) }}
    </div>
  {{ end }}
  <div class="card-body">
    {{ with .Title }}
      <p class="card-title">{{ partial "PrepareHTML" . }}</p>
    {{ end }}
    {{ with .Params.description }}
      <p class="card-text">{{ partial "PrepareHTML" . }}</p>
    {{ end }}
    {{ with .Date }}
      <p class="card-text"><time datetime="{{ . }}">{{ .Format "Jan 2, 2006" }}</time></p>
    {{ end }}
    <a href="{{ .Permalink }}" class="btn btn-primary stretched-link">{{ i18n "more" }}</a>
  </div>
</article>