<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <a href="{{ .Permalink }}" itemprop="url" class="content">
    {{ with .Title }}
      <p itemprop="name">{{ partial "PrepareHTML" . }}</p>
    {{ end }}
    {{ with .Params.description }}
      <p itemprop="abstract">{{ partial "PrepareHTML" . }}</p>
    {{ end }}
    <p>
      {{ with .Date }}
        <time datetime="{{ . }}" itemprop="datePublished">{{ . | time.Format ":date_medium" }}</time>
      {{ end }}
      {{ with .Params.categories }}
        {{ $category := site.GetPage (printf "/categories/%s" .) }}
         <span class="post-categories">{{ $category.Title }}</span>
      {{ end }}
    </p>
  </a>
  <div class="media">
    {{ with .Params.image}}
      {{ partial "commons/image.html" (dict
        "src" .
        "class" "img-fluid"
        "desktop" "414x177"
        "mobile" "334x143"
        "itemprop" "image"
      ) }}
    {{ end }}
  </div>
</article>