{{- $context := .context | default false -}}
{{- $partial := .partial | default false -}}

{{ with $context }}
  {{- $global_params := false }}
  {{- with .carousel -}}
    {{ $global_params = partial "func/GetGlobalParamsCarousel" . }}
  {{- end -}}
  <div class="splide js-carousel" {{ if $global_params }}data-splide="{{ $global_params }}"{{ end }}>
    <div class="splide__track">
      <ul class="splide__list">
        {{ range .items }}
          <div class="splide__slide">
            {{ if $partial }}
              {{ partial $partial . }}
            {{ end }}
          </div>
        {{ end }}
      </ul>
    </div>
  </div>
{{ end }}
