{{- $ctas := .ctas | default false -}}
{{- $hasGroup := false -}}

{{- with $ctas -}}
  {{- if gt . 1 -}}
    {{- $hasGroup = true -}}
  {{- end -}}
{{- else -}}
  {{/*  Deprecated  */}}
  {{- $cta := .cta | default false -}}
  {{- $cta_second := .cta_second | default false -}}
  {{- $ctas = slice $cta $cta_second -}}
  {{- if and (partial "func/HasCTA" $cta) (partial "func/HasCTA" $cta_second) -}}
    {{- $hasGroup = true -}}
  {{- end -}}
{{- end -}}

{{- if $hasGroup -}}
  <div class="cta" role="group">
{{- end -}}
{{- with $ctas -}}
  {{- range . -}}
    {{ partial "commons/cta.html" . }}
  {{- end -}}
{{- end -}}
{{- if $hasGroup -}}
  </div>
{{- end -}}