{{- $ctas := .ctas | default false -}}
{{- $hasGroup := false -}}

{{- with $ctas -}}
  {{- if gt . 1 -}}
    {{- $hasGroup = true -}}
  {{- end -}}
{{- else -}}
  {{/*  Deprecated  */}}
  {{- $ctas = slice -}}
  {{- if partial "func/HasCTA.html" .cta -}}
    {{- $ctas = $ctas | append .cta -}}
  {{- end -}}
  {{- if partial "func/HasCTA.html" .cta_second -}}
    {{- $ctas = $ctas | append .cta_second -}}
    {{- if partial "func/HasCTA.html" .cta -}}
      {{- $hasGroup = true -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- with $ctas -}}
  <div class="cta" {{- if $hasGroup -}} role="group"{{- end -}}>
  {{- range . -}}
    {{ partial "commons/cta.html" . }}
  {{- end -}}
  </div>
{{- end -}}