{{- with . -}}
  {{- $class := "btn" -}}
  {{- if .class -}}
    {{- $class = printf "%s %s" $class .class -}}
  {{- end -}}
  {{- $blank := .blank | default false -}}
  {{- $hreflang := .hreflang | default false -}}
  {{- $title := i18n "link.blank_aria" (dict "Title" (partial "func/PrepareHTML" .text)) -}}
  {{- if and .url .text -}}
    <a 
      {{ printf `href=%q` .url | safeHTMLAttr }} 
      class="{{ $class }}" 
      {{- if $blank }} target="_blank" rel="noreferrer noopener" title="{{ $title }}"{{ end -}} 
      {{- with $hreflang }} hreflang="{{ . }}"{{ end -}}
      >
      {{- partial "func/PrepareHTML" .text -}}
    </a>
  {{- end -}}
{{- end -}}