<figure{{ if .figure_class }} class="{{.figure_class}}"{{ end }}>
  {{ if .src }}
    {{ partial "commons/image.html" (dict
          "src" .src
          "alt" .alt
          "desktop" .desktop
          "mobile" .mobile
        ) }}
  {{ end }}
  {{ if or .legend .credit }}
  <figcaption>
    {{ with .legend }}
      <p>{{ partial "PrepareHTML" . }}</p>
    {{ end }}
    {{ with .credit }}
      <p class="credit">{{ partial "PrepareHTML" . | markdownify }}</p>
    {{ end }}
  </figcaption>
  {{ end }}
</figure>