{{/*  site.Params.filters.expand — sm | md | lg | xl | none
      site.Params.filters.drawer.position — start | end | top | bottom  */}}
{{- $context := .context }}
{{- with .section }}
  {{ partial "commons/dialog.html" (dict
    "id" "filters"
    "labelledby" "filtersLabel"
    "class" "filters"
    "params" site.Params.filters
    "attrs" (cond site.Params.search.enable "data-pagefind-ignore" "")
    "content" (print
      (partialCached "commons/filters/header" $context)
      (partialCached (print . "/filters/content") $context) | safeHTML)) }}
{{- end }}
