{{- $idForm := printf "form-%s" (.index | string) -}}
<form class="form" netlify enctype="multipart/form-data" method="POST" name="{{ .name | default $idForm }}" id="{{ $idForm }}">

  {{- range $index, $items := .items }}
    {{- $id := print $idForm "-" (.type | string) "-"  ($index | string) -}}
    {{- $name := anchorize .label | default $id -}}
    {{- $condHelp := or (eq .type "tel") (eq .type "email") (eq .type "url") -}}
    {{- if ne .type "hidden" }}<div {{- if .full }} class="full"{{ end }}>{{ end }}
      {{- if and (ne .type "checkbox") (ne .type "radio") (ne .type "hidden") }}
      <label for="{{ $id }}">{{ partial "func/PrepareHTML" .label }} {{- if .required }}<sup>*</sup>{{ end }}</label>
      {{ end -}}
      {{- if eq .type "textarea" }}
        <textarea 
          id="{{ $id }}" 
          name="{{ $name }}"
          rows="5"
          {{ with .type }}type="{{ . }}"{{ end }}
          {{ with .value }}value="{{ . }}"{{ end }}
          {{ with .placeholder }}placeholder="{{ . }}"{{ end }}
          {{ if .required }}required{{ end }}></textarea>
      {{- else if eq .type "select" -}}
        <select
          id="{{ $id }}"
          name="{{ $name }}"
          {{ if .required }}required{{ end }}>
          {{- if not .required }}
            <option value="">--</option>
          {{ end -}}
          {{- range .options }}
            {{ $value := cond (isset . "value") .value .title }}
            <option value="{{ $value }}">{{ .title }}</option>
          {{ end -}}
        </select>
      {{- else -}}
        <input 
          id="{{ $id }}" 
          name="{{ $name }}"
          {{ with .type }}type="{{ . }}"{{ end }}
          {{ with .value }}value="{{ . }}"{{ end }}
          {{ if $condHelp }}aria-describedby="help-{{ $id }}"{{ end }}
          {{ with .autocomplete }}autocomplete="{{ . }}"{{ end }}
          {{ with .placeholder }}placeholder="{{ . }}"{{ end }}
          {{ if .required }}required{{ end }}>
      {{ end -}}
      {{- if or (eq .type "checkbox") (eq .type "radio") }}
        <label for="{{ $id }}">{{ partial "func/PrepareHTML" .label }} {{- if .required }}<sup>*</sup>{{ end }}</label>
      {{ end -}}
      {{- if $condHelp }}
        <p id="help-{{ $id }}" class="help">{{ i18n (print "form.hint." .type) }}</p>
      {{ end -}}
    {{- if ne .type "hidden" }}</div>{{ end }}
  {{ end -}}

  <div class="actions">
    <button type="submit" class="btn">{{ partial "func/PrepareHTML" .submit | default "Submit" }}</button>
  </div>

</form>