{{- $idForm := printf "form-%s" (.index | string) -}}
{{- $action := false -}}
{{- if site.Params.form.netlify -}}
  {{- $action = `netlify netlify-honeypot="bot-field"` -}}
{{- else if site.Params.form.action -}}
  {{- $action = printf `action="%s"` site.Params.form.action -}}
{{- end -}}
{{- $ajax := false -}}
{{- if site.Params.form.ajax -}}
  {{- $ajax = true -}}
{{- end -}}

<form class="form {{- with $ajax }} js-form{{ end }}" {{- with $action }} {{ . | safeHTMLAttr }}{{ end }} enctype="multipart/form-data" method="POST" name="{{ .name | default $idForm }}" id="{{ $idForm }}">

  {{- with $ajax }}
  <p class="message js-form-message" role="alert"></p>
  {{ end -}}

  {{- if site.Params.form.netlify -}}
  <div class="d-none"><input name="bot-field" /></div>
  {{- end -}}

  {{- range $index, $items := .items }}
    {{- $id := print $idForm "-" (.type | string) "-"  ($index | string) -}}
    {{- $name := anchorize .name | default (anchorize .label) | default $id -}}
    {{- $condHelp := or (eq .type "tel") (eq .type "email") (eq .type "url") -}}
    {{- if ne .type "hidden" }}<div {{- if .full }} class="full"{{ end }}>{{ end }}
      {{- $args := merge . (dict "id" $id "name" $name "condHelp" $condHelp) -}}
      {{- if and (ne .type "checkbox") (ne .type "radio") (ne .type "hidden") }}
        {{ partial "commons/form/label.html" $args }}
      {{ else -}}
      <div class="form-check">
      {{ end -}}
      {{- if eq .type "textarea" }}
        {{ partial "commons/form/textarea.html" $args }}
      {{- else if eq .type "select" -}}
        {{ partial "commons/form/select.html" $args }}
      {{- else -}}
        {{ partial "commons/form/input.html" $args }}
      {{ end -}}
      {{- if or (eq .type "checkbox") (eq .type "radio") }}
        {{ partial "commons/form/label.html" $args }}
        </div>
      {{ end -}}
      {{- if $condHelp }}
        <p id="help-{{ $id }}" class="help">{{ i18n (print "form.hint." .type) }}</p>
      {{ end -}}
    {{- if ne .type "hidden" }}</div>{{ end }}
  {{ end -}}

  <div class="actions">
    <button type="submit" class="btn">{{ partial "func/PrepareHTML.html" .submit | default "Submit" }}</button>
  </div>

</form>