{{ $section := printf "/%s" .section }}
{{ $i18nAll := printf "%s.all" .section }}
{{ $partialFilter := printf "%s/filters/button" .section }}
{{ $context := .context }}

<header class="heading heading-filter"{{ partial "func/SetAnim" (dict "element" "heading") }}>
  {{ with site.GetPage $section }}
  <p class="surtitle">
    <a href="{{ .Permalink }}" class="back">{{ i18n $i18nAll }}</a>
  </p>
  {{ end }}
  <h1>{{ partial "func/GetRealTitle" $context }}</h1>
  {{ partial $partialFilter $context }}
</header>