{{- with .Params.hero -}}
{{- if or (and (.title) (ne .title "")) (and (.text) (ne .text "")) -}}
{{- $class := "hero" -}}
{{- with .align -}}
  {{- $class = printf "%s hero-%s" $class . -}}
{{- end -}}
{{- with .image -}}
  {{- $class = printf "%s hero-with-image" $class -}}
{{- end -}}
<header class="{{ $class }}"{{ partial "func/SetAnim" (dict "element" "hero") }}>
  {{ with .image }}
    {{ if .background_image }}
      {{- $picture_class := "hero-cover" -}}
      {{- $cover := site.Params.hero.cover -}}
      {{- $mobile := site.Params.hero.cover_mobile -}}
      {{- if .darken -}}
        {{- $picture_class = printf "%s hero-cover-darken" $picture_class -}}
      {{- end -}}
      {{ partial "commons/image.html" (dict
          "src" .src
          "alt" .alt
          "desktop" $cover
          "mobile" $mobile
          "picture_class" $picture_class
          "lazy" false
      ) }}
    {{ end }}
  {{ end }}
  <div class="container">
    <div class="row">

      <div class="hero-content">
        {{ with .surtitle }}
          <p class="surtitle">{{ partial "func/PrepareHTML" . }}</p>
        {{ end }}
        {{ with .title }}
          <h1>{{ partial "func/PrepareHTML" . }}</h1>
        {{ end }}
        {{ partial "commons/text" (dict "text" .text "class" "description") }}
        {{- with .ctas }}
          {{ partial "commons/cta-group.html" (dict "ctas" .) }}
        {{- else -}}
          {{/*  Deprecated  */}}
          {{ partial "commons/cta-group.html" (dict "cta" .cta "cta_second" .cta_second) }}
        {{ end -}}
      </div>

      {{ with .image }}
        {{ if ne .background_image true }}
          <div class="hero-media">
            {{- $desktop := site.Params.hero.desktop -}}
            {{- $mobile := site.Params.hero.mobile -}}
            {{ partial "commons/image.html" (dict
                "src" .src
                "alt" .alt
                "desktop" $desktop
                "mobile" $mobile
                "lazy" false
            ) }}
          </div>
        {{ end }}
      {{ end }}

    </div>
  </div>
</header>
{{- end -}}
{{- end -}}