{{ with .Params.hero }}
{{ if or (and (.title) (ne .title "")) (and (.text) (ne .text "")) }}
<header class="hero">
  <div class="container">
    <div class="row">

      <div class="hero-content">
        {{ with .surtitle }}
          <p class="surtitle">{{ partial "PrepareHTML" . }}</h1>
        {{ end }}
        {{ with .title }}
          <h1>{{ partial "PrepareHTML" . }}</h1>
        {{ end }}
        {{ with .text }}
          <p>{{ partial "PrepareHTML" . | markdownify }}</p>
        {{ end }}
        {{ if .cta }}
          <div class="cta" {{ if .cta_second }}role="group"{{ end }}>
            {{ with .cta }}
              {{ partial "commons/cta.html" . }}
            {{ end }}
            {{ with .cta_second }}
              {{ partial "commons/cta.html" . }}
            {{ end }}
          </div>
        {{ end }}
      </div>

      {{ with .image }}
        <div class="hero-media">
          {{ $desktop := site.Params.hero.desktop }}
          {{ $mobile := site.Params.hero.mobile }}
          {{ partial "commons/image.html" (dict
              "src" .src
              "alt" .alt
              "desktop" $desktop
              "mobile" $mobile
              "lazy" false
          ) }}
        </div>
      {{ end }}

    </div>
  </div>
</header>
{{ end }}
{{ end }}