{{- /* Expose the page kind in the hero context, which is rebound to .Params.hero */ -}}
{{- with merge (.Params.hero | default dict) (dict "kind" .Kind) -}}
  {{- if or .title .text -}}
    {{- $class := partial "func/GetHeroClasses" . -}}
    <header class="{{ $class }}" {{- if site.Params.search.enable }} data-pagefind-body{{ end }} {{- partial "func/SetAnim.html" (dict "element" "hero") }}>
      {{ partial "commons/hero/cover.html" . }}
      <div class="container">
        <div class="row">
          {{ partial "commons/hero/content.html" . }}
          {{ partial "commons/hero/media.html" . }}
        </div>
      </div>
    </header>
  {{- end -}}
{{- end -}}
