{{ $lazy := .lazy | default false }}
{{ $class := .class | default false }}
{{ $picture_class := .picture_class | default false }}
{{ $itemprop := .itemprop | default false }}
{{ $desktop_size := .desktop | default false }}
{{ $mobile_size := .mobile | default false }}
{{ $alt := .alt | default "" }}
{{ $crop := .crop | default "Center" }}
{{ $file := "" }}
{{ if .static }}
  {{ $file = delimit (slice "/static" .src) "" }}
{{ else }}
  {{ $file = .src }}
{{ end }}

{{ with $file }}

  {{ $image := resources.Get . }}
  {{ if $image }}

    {{ if strings.HasSuffix $file "svg" }}
      {{ $fileAssets := print "/assets/" $file }}
      {{ $fileDimensions := partial "GetImageDimensions" (dict "context" . "file" $fileAssets) }}
      {{ with $image }}
        <img 
          src="{{ .RelPermalink }}" 
          alt="{{ $alt }}" 
          height="{{ index $fileDimensions 1 }}" 
          width="{{ index $fileDimensions 0 }}"
          {{ if $lazy }} loading="lazy"{{ end }}
          {{ if $class }} class="{{$class}}"{{ end }}
          {{ if $itemprop }} itemprop="{{$itemprop}}"{{ end }}
          >
      {{ end }}
    {{ else }}
  
      {{ $image_desktop := false }}
      {{ $image_mobile := false }}
      
      {{ $image_mobile_retina := false }}

      {{ $image_desktop_webp := false }}
      {{ $image_mobile_webp := false }}

      {{ $image_mobile_webp_retina := false }}

      {{ if $desktop_size }}
        {{ $size := split $desktop_size "x" }}
        {{ $isFill := true }}
        {{ range $size }}
          {{ if eq . "" }}
            {{ $isFill = false }}
          {{ end }}
        {{ end }}

        {{ if $isFill }}
          {{ $image_desktop = $image.Fill (printf "%s %s" $desktop_size $crop) }}
          {{ $image_desktop_webp = $image.Fill (printf "%s %s webp" $desktop_size $crop) }}
        {{ else }}
          {{ $image_desktop = $image.Resize $desktop_size }}
          {{ $image_desktop_webp = $image.Resize (printf "%s webp" $desktop_size) }}
        {{ end }}
      {{ else }}
        {{ $image_desktop = $image }}
        {{ $image_desktop_webp = $image.Resize (printf "%dx%d %s webp" $image.Width $image.Height $crop) }}
      {{ end }}

      {{ if $mobile_size }}
        {{ $size_m := split $mobile_size "x" }}
        {{ $isFill_m := true }}
        {{ range $size_m }}
          {{ if eq . "" }}
            {{ $isFill_m = false }}
          {{ end }}
        {{ end }}

        {{ if $isFill_m}}
          {{ $image_mobile = $image.Fill $mobile_size }}
        {{ else }}
          {{ $image_mobile = $image.Resize $mobile_size }}
        {{ end }}
        {{ $width_x2 := mul 2 $image_mobile.Width }}
        {{ $height_x2 := mul 2 $image_mobile.Height }}
        {{ if $isFill_m}}
          {{ $image_mobile_retina = $image.Fill (print $width_x2 "x" $height_x2 " " $crop) }}
          {{ $image_mobile_webp = $image.Fill (printf "%s %s webp" $mobile_size $crop) }}
          {{ $image_mobile_webp_retina = $image.Fill (print $width_x2 "x" $height_x2 " " $crop " webp") }}
        {{ else }}
          {{ $image_mobile_retina = $image.Resize (print $width_x2 "x" $height_x2) }}
          {{ $image_mobile_webp = $image.Resize (printf "%s webp" $mobile_size) }}
          {{ $image_mobile_webp_retina = $image.Resize (print $width_x2 "x" $height_x2 " webp") }}
        {{ end }}
      {{ end }}

      {{ with $image_desktop }}
        <picture {{ if $picture_class }}class="{{ $picture_class }}"{{ end }}>
          {{ with $image_desktop_webp }}
            <source srcset="{{ .RelPermalink }}" type="image/webp" media="(min-width: 577px)">
          {{ end }}
          {{ with $image_mobile }}
            {{ with $image_mobile_webp }}
              <source srcset="{{ .RelPermalink }}, {{ $image_mobile_webp_retina.RelPermalink }} x2" type="image/webp" media="(max-width: 576px)">
            {{ end }}
            <source srcset="{{ .RelPermalink }}, {{ $image_mobile_retina.RelPermalink }} x2" type="image/jpg" media="(max-width: 576px)">
          {{ end }}
          <img src="{{ .RelPermalink }}" alt="{{ $alt }}" width="{{ .Width }}" height="{{ .Height }}"{{ if $lazy }} loading="lazy"{{ end }}{{ if $class }} class="{{$class}}"{{ end }}{{ if $itemprop }} itemprop="{{$itemprop}}"{{ end }}>
        </picture>
      {{ end }}

    {{ end }}

  {{ end }}

{{ end }}