{{ $src := .image.src }}
{{ if $src }}
  {{ $lazy := .lazy }}
  {{ $legend := .image.legend | default false }}
  {{ $image_fallback := partial "GetImageResizeSrc" (dict "image" $src "size" "750x") }}
  {{ $image_small := partial "GetImageResizeSrc" (dict "image" $src "size" "720x" "type" "webp") }}
  {{ $image_medium := partial "GetImageResizeSrc" (dict "image" $src "size" "1024x" "type" "webp") }}
  {{ $image_large := partial "GetImageResizeSrc" (dict "image" $src "size" "1280x" "type" "webp") }}
  {{ $image_xlarge := partial "GetImageResizeSrc" (dict "image" $src "size" "1440x" "type" "webp") }}
  {{ $image_2xlarge := partial "GetImageResizeSrc" (dict "image" $src "size" "1600x" "type" "webp") }}
  {{ $srcset := printf "%s 720w, %s 1024w, %s 1280w, %s 1440w, %s 1600w" $image_small $image_medium $image_large $image_xlarge $image_2xlarge }}
  {{ $label := i18n "lightbox.label" }}

  <a href="{{ $image_fallback }}" 
    class="lightbox" 
    aria-label="{{ $label }}" 
    {{ if .group }}data-group="{{ .group }}"{{ end }}
    {{ if $legend }}data-caption="{{ $legend }}"{{ end }}
    data-srcset="{{ $srcset }}">
    {{ partial "commons/figure" (dict
      "src" $src 
      "alt" .image.alt 
      "lazy" $lazy 
      "desktop" .desktop
      "mobile" .mobile
      ) }}
  </a>
{{ end }}