{{- $isFirst := .first -}}

<div class="images">
  {{ range $index, $image := .images }}
    {{- $lazy := partial "func/isLazyImage" (dict "first" $isFirst "index" $index "limit" 0) -}}
    {{/* Each image is full-width (one slot) or half-width (two slots) of the container. */}}
    {{- $figure_class := cond .half "half" false -}}
    {{- $size := partial "func/GetBlockImageSize.html" (dict "columnDesktop" (cond .half 2 1)) -}}
    {{- $args := merge . (dict "lazy" $lazy "figure_class" $figure_class "desktop" $size.desktop "mobile" $size.mobile) }}
    {{- partial "commons/figure.html" $args -}}
  {{ end }}
</div>
