{{- $pages := . -}}
{{- $large := false -}}
{{- $atf := false -}}
{{- $scrollsnap := false -}}
{{- $groupbyyear := false -}}
{{- $currentyear := false -}}
{{- if reflect.IsMap . -}}
  {{- $pages = .pages -}}
  {{- $large = .large -}}
  {{- $atf = .abovethefold -}}
  {{- $groupbyyear = .groupbyyear -}}
  {{- with .scrollsnap -}}
    {{- $scrollsnap = true -}}
  {{- end -}}
{{- end -}}
{{ with $pages }}
  {{ if gt . 0 }}
    {{- $section := (index . 0).Type -}}
    {{- if eq (index . 0).Kind "section" -}}
      {{- $section = "pages" -}}
    {{- end -}}
    {{- $partial := print $section "/item.html" -}}
    {{- $hasPartial := cond (templates.Exists (printf "partials/%s" $partial)) true false -}}
    {{- if not $hasPartial -}}
      {{- $section = "pages" -}}
      {{- $partial = "pages/item.html" -}}
    {{- end -}}
    <div class="{{ $section }} {{- if $large}} {{ $section }}-large{{ end }}">
      {{ range $index, $items := . }}
        {{ if $groupbyyear }}
          {{- $year := .Date.Format "2006" -}}
          {{- if ne $year $currentyear }}
            <h2 class="year">{{ $year }}</h2>
            {{- $currentyear = $year -}}
          {{- end }}
        {{ end }}
        <div>
          {{- if and ($atf) (lt $index 2) -}}
            {{- .Scratch.Set "notLazy" true -}}
          {{- end -}}
          {{- if $scrollsnap -}}
            {{- .Scratch.Set "scrollsnap" true -}}
          {{- end }}
          {{- if $large -}}
            {{- .Scratch.Set "large" true -}}
          {{- end -}}
          {{ partial $partial . }}
          {{- .Scratch.Delete "notLazy" -}}
          {{- .Scratch.Delete "scrollsnap" -}}
          {{- .Scratch.Delete "large" -}}
        </div>
      {{ end }}
    </div>
  {{ end }}
{{ end }}
