{{- $filename := .filename -}}
{{- $section := .section -}}
{{- $taxonomy := .taxonomy -}}
{{- $additionalParams := .additionalParams -}}
{{- $title := .title | default (i18n (printf "%s.latest" $section)) -}}
{{- $name := .name -}}
{{- $showMore := .more | default true -}}
{{- $limit := .limit | default 3 -}}

{{- $pages := partial "func/GetTaxonomyPageBySlug" (dict 
  "section" $section
  "taxonomy" $taxonomy
  "slug" $filename
  "additionalParams" $additionalParams
  ) -}}

{{ if $pages }}
  {{ $count := $pages | len }}
  {{ $pages = first $limit $pages }}
  <section class="latest latest-{{ $section }}"{{ partial "func/SetAnim" (dict "element" "block") }}>
    <div class="container">
      <header class="heading"{{ partial "func/SetAnim" (dict "element" "heading") }}>
        <h2>{{ $title }}</h2>
        {{ if and $showMore (gt $count $limit) }}
          {{ $item := partial "func/GetTaxonomy" (dict "slug" $filename "taxonomy" $taxonomy) }}
          {{ with $item }}
            <a href="{{ .Permalink }}" class="more">{{ i18n (printf "%s.more_person" $section) (dict "Person" $name) }}</a>
          {{ end }}
        {{ end }}
      </header>
      {{ partial (printf "%s/items" $section) $pages }}
    </div>
  </section>
{{ end }}
