{{ $limit := 3 }}
{{ with .limit }}
  {{ $limit = . }}  
{{ end }}
{{ with .section }}
  {{ $section := . }}
  {{ $query := first $limit ( ( where site.RegularPages "Section" $section ).ByDate.Reverse ) }}
  {{ if gt ($query | len) 0 }}
  <section class="latest">
    <header class="heading">
      {{ $i18n := printf "%s.latest" $section }}
      <h2>{{ i18n $i18n }}</h2>
      {{ $index := site.GetPage (printf "/%s" $section) }}
      {{ with $index }}
        {{ $i18n := printf "%s.more" $section }}
        <a href="{{ .Permalink }}" class="more">{{ i18n $i18n }}</a>
      {{ end }}
    </header>
    {{ with $query }}
      {{ $partial := printf "%s/items" $section }}
      {{ partial $partial . }}
    {{ end }}
  </section>
  {{ end }}
{{ end }}
