{{ $notes := .notes }}
{{ $blockId := .blockId | default "" }}
{{ $lenNotes := len $notes }}

{{ if gt $lenNotes 0 }}
<footer class="notes list">
    <p>{{ i18n "notes.title" $lenNotes }}</p>
    <ol>
        {{ range $index, $note := $notes }}
        {{ $id := add $index 1}}
        <li id="nb-{{ $blockId }}-{{ $id }}" tabindex="-1">
          <a title="{{ i18n "notes.back_to_text" $id }}" href="#nh-{{ $blockId }}-{{ $id }}">
            {{- $id -}}
          </a>
          <span>{{ partial "func/PrepareHTML" $note.text | markdownify }}</span>
        </li>
        {{ end }}
    </ol>
</footer>
{{ end }}