{{ $item := .item | default "author" }}
{{ $section := .section | default "authors" }}

{{ with .person }}
  <aside class="{{ $item }}">
    <div class="content">
      {{ with .Title }}
        <p class="name">{{ partial "func/PrepareHTML" . }}</p>
      {{ end }}
      {{ with .Description }}
        <p class="description">{{ partial "func/TruncateContent" (dict "content" .) }}</p>
      {{ end }}
      {{ $i18n := i18n (printf "%s.discover" $section) }}
      <p><a href="{{ .Permalink }}">{{ $i18n }}</a></p>
    </div>
    {{ with .Params.image}}
      {{ $desktop := site.Params.persons.post.desktop }}
      {{ $mobile := site.Params.persons.post.mobile }}
      <div class="media">
        {{ partial "commons/image.html" (dict
          "src" .src
          "alt" .alt
          "desktop" $desktop
          "mobile" $mobile
          "picture_class" "avatar"
          "crop" "top"
        ) }}
      </div>
    {{ end }}
  </aside>
{{ end }}
