{{- $discount := .discount | default false -}}
{{- $frequency := .frequency | default false -}}
{{- $price := .price | default false -}}
{{ with $price }}
  {{- $realPrice := partial "func/GetDiscountedPrice" (dict "price" . "discount" $discount) -}}
  {{ partial "func/GetHumanPrice" $realPrice }} 
  {{- if $discount }} 
    {{- $realDiscount := $discount -}}
    {{ if not (hasSuffix $discount "%") }}
      {{- $realDiscount = partial "func/GetHumanPrice" $discount -}}
    {{ end }}
    <del>{{ partial "func/GetHumanPrice" . }}</del>
    <span>-{{ $realDiscount}}</span>
  {{- end }}
  {{- with $frequency }} 
    <i>{{ partial "func/PrepareHTML" . }}</i>
  {{- end }}
{{ end -}}
