<figure class="quote">
  {{ with .quote}}
    <blockquote>
      <p>{{ partial "func/PrepareHTML" . | markdownify }}</p>
    </blockquote>
  {{ end }}

  {{ with .author }}
    <figcaption>
      {{ with .image}}
        {{ $desktop := site.Params.image.xsmall | default false }}
        {{ partial "commons/image.html" (dict
            "src" .src
            "alt" .alt
            "desktop" $desktop
            "crop" "Top"
          ) }}
      {{ end }}
      <div>
        {{ with .title}}
          <cite>{{ partial "func/PrepareHTML" . }}</cite><br>
        {{ end }}
        {{ partial "func/PrepareHTML" .text }}
      </div>
    </figcaption>
  {{ end }}
</figure>