{{/*  site.Params.sidebarmenu.expand — sm | md | lg | xl | none
      site.Params.sidebarmenu.drawer.position — start | end | top | bottom  */}}
<aside class="sidebarmenu">
  <div>
    <p>{{ i18n "sidebar.menu" }}</p>
    {{ partial "commons/dialog.html" (dict
      "id" "sidebarmenu"
      "labelledby" "sidebarmenuLabel"
      "button" (partial "commons/sidebarmenu/button" .)
      "params" site.Params.sidebarmenu
      "content" (print (partial "commons/sidebarmenu/header" .) (partial "commons/sidebarmenu/content" .) | safeHTML)) }}
  </div>
</aside>
