{{/*  site.Params.toc.expand — sm | md | lg | xl | none
      site.Params.toc.drawer.position — start | end | top | bottom  */}}
{{ if ge (len .TableOfContents) 100 }}
<div class="toc">
  <div>
    <p>{{ i18n "toc" }}</p>
    {{ partial "commons/dialog.html" (dict
      "id" "toc"
      "labelledby" "tocLabel"
      "button" (partialCached "commons/toc/button" .)
      "params" site.Params.toc
      "content" (print (partial "commons/toc/header" .) (partial "commons/toc/content" .) | safeHTML)) }}
  </div>
</div>
{{ end }}
