{{- $container := .container | default true -}}
{{- if or .footing .show_more }}
  <footer class="footing">
    {{- with $container }}<div class="container">{{ end }}
      {{- with .footing }}
        {{- with .text }}
          {{ partial "commons/text.html" (dict "text" .) }}
        {{ end -}}
        {{- with .ctas }}
          {{ partial "commons/cta-group.html" (dict "ctas" .) }}
        {{ end -}}
      {{ end -}}
      {{- $partials := printf "blocks/templates/%s/more.html" .type -}}
      {{- if templates.Exists ( printf "partials/%s" $partials ) -}}
        {{- partial $partials . -}}
      {{- end -}}
    {{- with $container }}</div>{{ end }}
  </footer> 
{{ end -}}
