{{- range $index, $block := . -}}
  {{- $isFirst := cond (eq $index 0) true false -}}
  {{- $block = merge $block (dict "first" $isFirst) -}}
  {{- $block = merge $block (dict "index" $index) -}}
  {{- $template := printf "blocks/templates/%s.html" $block.type -}}
  {{- if and (strings.Contains .type "selected-") (not (templates.Exists ( printf "partials/%s" $template ))) -}}
    {{- $template = "blocks/templates/selected.html" -}}
    {{- warnidf $template "Partial block missed" -}}
  {{- end -}}
  {{- if templates.Exists ( printf "partials/%s" $template ) -}}
    {{ partial $template $block }}
  {{- else -}}
    {{- warnidf $template "Partial block missed" -}}
  {{- end -}}
{{- end -}}