{{ if .Site.Taxonomies.categories }}
  {{ $nCategories := .Site.Taxonomies.categories | len }}
  {{ if gt $nCategories 1 }}
    <p>{{ i18n "categories.title" $nCategories }}</p>
    <ul>
      {{ range $taxonomy_term, $taxonomy := .Site.Taxonomies.categories }}
        <li>
          {{ $category := partial "GetTaxonomy" (dict "slug" $taxonomy_term "taxonomy" "categories")  }}
          {{ with $category }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          {{ end }}
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}