{{ if .Site.Taxonomies.tags }}
  {{ $nTags := .Site.Taxonomies.tags | len }}
  {{ if gt $nTags 1 }}
    <div>
      <p>{{ i18n "tags.title" $nTags }}</p>
      <ul>
        {{ range $taxonomy_term, $taxonomy := .Site.Taxonomies.tags }}
          <li>
            {{ $tag := partial "GetTaxonomy" (dict "slug" $taxonomy_term "taxonomy" "tags")  }}
            {{ with $tag }}
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ end }}
          </li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
{{ end }}