{{- $show_places := .show_places | default false -}}
{{- $zoom := .zoom -}}
{{- $grid := .grid | default false -}}
{{- $class := partial "func/GetColClass.html" $grid -}}

{{- partial "func/SetContainerRowColStart.html" (dict "grid" $grid "class" $class) -}}
{{- if $show_places }}
  {{/*  Show all places with coordinates  */}}
  {{- $partial := "func/GetMarkers.html" -}}
  {{- if templates.Exists (printf "partials/%s" $partial) }}
    {{- $markers := partial $partial (where site.RegularPages "Section" "places") -}}
    {{- with $markers -}}
      {{ partial "commons/map.html" (dict "location" .) }}
    {{- end -}}
  {{- end -}}
{{- else -}}
  {{- with .location }}
    {{/*  DecapCMS reverse coordinates  */}}
    {{- $marker := . -}}
    {{- $oldCoordinates := (unmarshal .).coordinates -}}
    {{- $newCoordinates := partial "func/ReverseSlice.html" $oldCoordinates -}}
    {{- $oldCoordinates = string ($oldCoordinates | jsonify) -}}
    {{- $newCoordinates = string ($newCoordinates | jsonify) -}}
    {{- $marker = replace $marker $oldCoordinates $newCoordinates -}}
    {{/*  / DecapCMS reverse coordinates  */}}
    {{ partial "commons/map.html" (dict "location" (slice $marker) "zoom" $zoom) }}
  {{ end -}}
{{ end -}}
{{- partial "func/SetContainerRowColEnd.html" (dict "grid" $grid "class" $class) -}}
