{{- if isset .Params "blocks" -}}
  
  {{ partial "blocks/list" . }}

{{- else -}}

  <div class="container">
    {{ partial "commons/heading" . }}
    
    {{- $context := . -}}
    {{- $sections := slice "posts" "products" "projects" "casestudies" "publications" "places" "expertises" "services" "realestates" "jobs" -}}
    {{- range $sections -}}
      {{- $partial := printf "%s/latest.html" . -}}
      {{- if templates.Exists ( printf "partials/%s" $partial ) -}}
        {{ partial $partial $context }}
      {{- end -}}
    {{- end -}}
  </div>

{{- end -}}