{{ $current := .current | default false }}
{{ $tax := .tax | default false }}
{{ $mini_card := .mini_card | default false }}
{{ if $tax }}
  {{ $the_tax := index site.Taxonomies $tax }}
  {{ with $the_tax }}
    {{ $nTaxs := $the_tax | len }}
    {{ $i18n := printf "%s.title" $tax }}
    <div class="list list-{{ $tax }}{{ if $mini_card }} list-mini_card{{ end }}">
      <p>{{ i18n $i18n $nTaxs }}</p>
      <ol>
        {{ range $taxonomy_term, $taxonomy := . }}
          {{- $page := partial "func/GetRealContext" .Page -}}
          <li>
            {{- $title := partial "func/PrepareHTML" $page.Title -}}
            {{- if not $page.File -}}
              {{- $title = $title | humanize -}}
            {{- end -}}
            {{ if $mini_card }}
              {{- if $page.Params.image -}}
                {{- with $page.Params.image -}}
                  {{- $desktop := site.Params.image.xsmall | default false -}}
                  {{- $mobile := site.Params.image.xsmall | default false -}}
                  {{- partial "commons/image.html" (dict
                    "src" .src
                    "alt" .alt
                    "picture_class" "avatar"
                    "desktop" $desktop
                    "mobile" $mobile
                    "crop" "top"
                  ) -}}
                {{- end -}}
              {{- else -}}
                <div class="avatar"></div>
              {{- end -}}
              <div>
            {{ end }}
            {{- $class := "" -}}
            {{- if eq $current $page -}}
              {{- $class = " class='active'" -}}
            {{- end -}}
            <a href="{{ .Page.Permalink }}"{{ $class | safeHTMLAttr }}>
              {{- $title -}}
            </a>
            {{ if $mini_card }}
              </div>
            {{ end }}
          </li>

        {{ end }}
      </ol>
    </div>
  {{ end }}
{{ end }}
