{{ if or .Params.email .Params.website .Params.twitter }}
  <aside class="contact-list">
    <p>{{ i18n "contact.title" }}</p>
    <ul>
      {{ with .Params.email }}
        <li><a href="mailto:{{ . }}" target="_blank">{{ i18n "contact.email" }}</a></li>
      {{ end }}
      {{ with .Params.website }}
        <li><a href="{{ . }}" target="_blank">{{ i18n "contact.website" }}</a></li>
      {{ end }}
      {{ with .Params.linkedin }}
        <li><a href="{{ . }}" target="_blank">{{ i18n "contact.linkedin" }}</a></li>
      {{ end }}
      {{ with .Params.twitter }}
        <li><a href="{{ . }}" target="_blank">{{ i18n "contact.twitter" }}</a></li>
      {{ end }}
      {{ with .Params.instagram }}
        <li><a href="{{ . }}" target="_blank">{{ i18n "contact.instagram" }}</a></li>
      {{ end }}
    </ul>
  </aside>
{{ end }}
