<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": {{ .Title | plainify | safeHTML }},
    {{ with .Description }}
      "description": {{ . | plainify | safeHTML }},
    {{ end }}
    {{ with .Params.email }}
      "email": {{ . | plainify | safeHTML }},
    {{ end }}
    {{ with .Params.phone }}
      "telephone": {{ . | plainify | safeHTML }},
    {{ end }}
    {{ with .Params.fax }}
      "faxNumber": {{ . | plainify | safeHTML }},
    {{ end }}
    "url": {{ .Permalink }}
  }
</script>