.page-posts
    main > .container > .row >
        .content
            @extend .col-md-8
        .sidebar
            @extend .col-md-4
            @extend .col-lg-3
            @extend .offset-lg-1
    .tags
        border-top: 1px solid $border-color
        margin-top: $global-spacing
        padding-top: calc(#{$global-spacing} / 2)
        p
            @extend .h5
