{{/*

  @params
    inner  (markdown)
    state  (string)
    title  (string) optional
    icon   (string) optional

  @example - Shortcode
    {{< alert-block state="info" >}}
    Some text
    {{< /alert-block >}}

  @reference - Bootstrap
    https://getbootstrap.com/docs/5.3/components/alerts/

*/}}

{{- /* Get arguments. */}}
{{- $text := .Inner | strings.TrimSpace | .Page.RenderString }}
{{- $state := or (.Get "state") "" }}
{{- $title := or (.Get "title") false }}
{{- $icon := or (.Get "icon") false }}
{{- $args := dict "text" $text "state" $state "title" $title "icon" $icon }}

{{- /* Render. */}}
{{ partial "commons/alert.html" $args }}
