{{/*

  @params
    quote  (string)
    title  (string) optional
    text   (string) optional
    image  (string) optional

  @example - Shortcode
    {{< blockquote quote="Some text" title="Some title" text="Some text" image="images/uploads/some-image.jpg" >}}

*/}}

{{- /* Get arguments. */}}
{{- $quote := .Get "quote" -}}
{{- $title := .Get "title" -}}
{{- $text := .Get "text" -}}
{{- $image := .Get "image" -}}
{{- $dict_author := false -}}
{{- $dict_image := dict "src" $image -}}
{{- if or $title $text $image -}}
{{- $dict_author = dict "title" $title "text" $text "image" $dict_image -}}
{{- end -}}
{{- $dict := dict "quote" $quote "author" $dict_author -}}

{{- /* Render. */}}
{{ partial "commons/quote.html" $dict }}