{{- $grid := .grid | default "large" -}}
{{- $offset := .offset | default false -}}
{{- $class := partial "func/GetColOffsetClass" (dict "grid" $grid "offset" $offset) -}}
{{- $columnWanted := partial "func/GetWantedColumn" $grid -}}
{{- $desktop := site.Params.container.desktop | default false -}}
{{- $mobile := site.Params.image.mobile_full | default false -}}
{{- if $desktop -}}
{{- $width := partial "func/GetColumnWidth.html" (dict "column" $columnWanted) -}}
{{- $desktop = printf "%sx" (string $width) -}}
{{- end -}}
{{- $lazy := partial "func/isLazyImage" (dict "first" .first) -}}
{{- $figure := merge .figure (dict "desktop" $desktop "mobile" $mobile "lazy" $lazy) -}}

{{- partial "func/SetContainerRowColStart.html" (dict "grid" $grid "class" $class) -}}
{{- with $figure -}}
  {{- partial "commons/figure.html" . -}}
{{- end -}}
{{- partial "func/SetContainerRowColEnd.html" (dict "grid" $grid "class" $class) -}}
